// after-join-tournament page ----------------

.joinTournament_title {
    .logout_btn {
        a {
            background: rgba(240, 39, 49, 0.20);
            border-color: rgba(255, 255, 255, 0.10);
            box-shadow: none;
        }
    }
}


// info_box ---------------

.info_box {
    background: #080808;
    padding: 2rem 2rem;
    margin-top: 4rem;
    position: relative;

    .border_tl {
        width: 1rem;
        height: 0.8rem;
        border-top: 1px solid #651418;
        border-left: 1px solid #651418;
        position: absolute;
        left: -0.05rem;
        top: -0.05rem;
        transition: 0.2s all ease;
    }

    .border_tr {
        width: 1rem;
        height: 0.8rem;
        border-top: 1px solid #651418;
        border-right: 1px solid #651418;
        position: absolute;
        right: -0.05rem;
        top: -0.05rem;
        transition: 0.2s all ease;
    }

    .border_bl {
        width: 1rem;
        height: 0.8rem;
        border-bottom: 1px solid #651418;
        border-left: 1px solid #651418;
        position: absolute;
        left: -0.05rem;
        bottom: -0.05rem;
        transition: 0.2s all ease;
    }

    .border_br {
        width: 1rem;
        height: 0.8rem;
        border-bottom: 1px solid #651418;
        border-right: 1px solid #651418;
        position: absolute;
        right: -0.05rem;
        bottom: -0.05rem;
        transition: 0.2s all ease;
    }

    @media #{$sm} {
        margin-top: 2.5rem;
    }

    .info_bar {
        background: #0C63D4;
        border: 1px solid rgba(246, 153, 41, 0.20);
        display: flex;
        align-items: center;
        gap: 0.8rem;
        padding: 0.8rem 1rem;

        img {
            width: 2rem;
        }

        p {
            font-family: $heeboFont;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 160%;
            color: #FFF;
        }
    }

    .infoBox_item {
        padding-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media #{$xs} {
            flex-direction: column;
            gap: 2rem;
        }

        .infoBox_game {
            width: 5.4rem;
            height: 5rem;
            border: 1px solid #671112;
            position: relative;

            .premium_badge {
                width: 1rem;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 9;
            }

            .game {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            span {
                width: 1rem;
                height: 1rem;
                display: block;
                background: #37AE48;
                border-radius: 50%;
                position: absolute;
                left: -0.4rem;
                bottom: -0.4rem;
            }
        }

        .infoBox_button {
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 1.6rem;

            a {
                width: 12.4rem;
                gap: 0.7rem;
            }

            .disabled {
                a {
                    opacity: 0.5;
                    cursor: not-allowed;
                    pointer-events: none;
                }
            }
        }
    }
}
