// before-join-tournament page ----------------
.before_joinTournament {
    padding-top: 0rem;
}

.joinTournament_header {
    background-color: transparent;
    position: relative;

    &::after {
        content: "";
        width: 100%;
        height: 31rem;
        display: block;
        background-image: url('../img/join-tournament-banner.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .admin_btn,
    .add_btn,
    .icon_btn {
        background: #080808;
    }
}

.joinTournament_title {
    p {
        display: flex;
        align-items: center;
        margin-bottom: 1.4rem;

        span {
            width: 0.4rem;
            height: 0.4rem;
            display: inline-block;
            background: #FFF;
            border-radius: 50%;
            margin: 0 1.3rem;
        }
    }

    .join_titleText {
        p {
            letter-spacing: 0.01rem;
        }

        a {
            font-family: $heeboFont;
            font-size: 1.2rem;
            font-weight: 400;
            color: #FFF;
            background: #2FAA54;
            display: inline-block;
            padding: 0.2rem 1.3rem;
        }

        .status {
            span {
                font-family: $heeboFont;
                font-size: 1.2rem;
                font-weight: 400;
                color: #FFF;
                background: #2FAA54;
                display: inline-block;
                padding: 0.2rem 1.3rem;

                &.ended {
                    background: #A11B1B;
                }
            }
        }

        @media #{$sm} {
            h2 {
                font-size: 3.75rem;
            }
        }
    }

    .join_btn {
        a {
            font-family: $primaryFont;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 120%;
            color: #F5F6FF;
            width: 15.4rem;
            height: 3.7rem;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            background: #F02731;
            border: 1px solid #F46B4F;
            box-shadow: 0rem 0.2rem 1.7rem rgba(249, 204, 97, 0.54) inset;
            position: relative;

            @media #{$sm} {
                font-size: 1.5rem;
                width: 14rem;
                height: 3.6rem;
            }

            img {
                width: 2rem;
            }

            .border_tl {
                width: 0.8rem;
                height: 0.6rem;
                border-top: 1px solid #FFFFFF;
                border-left: 1px solid #FFFFFF;
                position: absolute;
                left: -0.1rem;
                top: -0.1rem;
                transition: 0.2s all ease;
            }

            .border_tr {
                width: 0.8rem;
                height: 0.6rem;
                border-top: 1px solid #FFFFFF;
                border-right: 1px solid #FFFFFF;
                position: absolute;
                right: -0.1rem;
                top: -0.1rem;
                transition: 0.2s all ease;
            }

            .border_bl {
                width: 0.8rem;
                height: 0.6rem;
                border-bottom: 1px solid #FFFFFF;
                border-left: 1px solid #FFFFFF;
                position: absolute;
                left: -0.1rem;
                bottom: -0.1rem;
                transition: 0.2s all ease;
            }

            .border_br {
                width: 0.8rem;
                height: 0.6rem;
                border-bottom: 1px solid #FFFFFF;
                border-right: 1px solid #FFFFFF;
                position: absolute;
                right: -0.1rem;
                bottom: -0.1rem;
                transition: 0.2s all ease;
            }

            &:hover {
                span {
                    transform: scale(1.2);
                }
            }
        }
    }
}


// join_links --------------

.join_links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem 0rem 4rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);

    @media #{$md} {
        align-items: flex-start;
    }

    @media #{$sm} {
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }

    ul {
        display: flex;
        align-items: center;
        gap: 1.2rem;

        @media #{$md} {
            flex-wrap: wrap;
            gap: 0.8rem;
        }

        li {
            a {
                font-size: 1.6rem;
                font-weight: 400;
                color: #FFFFFF;
                width: 13.8rem;
                height: 3.7rem;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding: 0.2rem 1rem;
                position: relative;
                background-image: url('../img/joint-links-shape.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100% 100%;
                transition: 0.2s all ease;

                &:hover,
                &.active {
                    background-image: url('../img/joint-links-shape-active.svg');
                }

                @media #{$md} {
                    width: 13rem;
                    height: 3.6rem;
                }

                @media #{$sm} {
                    width: 11rem;
                    height: 3.8rem;
                    font-size: 1.5rem;
                }
            }
        }
    }

    button {
        font-family: $heeboFont;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 160%;
        color: rgba(255, 255, 255, 0.8);
        background: #212121;
        border: none;
        outline: none;
        display: inline-flex;
        align-items: center;
        gap: 0.8rem;
        padding: 0.55rem 2rem;
        position: relative;

        img {
            width: 2rem;
        }

        .border_tl {
            width: 0.5rem;
            height: 0.5rem;
            border-top: 1px solid #FFFFFF;
            border-left: 1px solid #FFFFFF;
            position: absolute;
            left: -0.05rem;
            top: -0.05rem;
            transition: 0.2s all ease;
        }

        .border_tr {
            width: 0.5rem;
            height: 0.5rem;
            border-top: 1px solid #FFFFFF;
            border-right: 1px solid #FFFFFF;
            position: absolute;
            right: -0.05rem;
            top: -0.05rem;
            transition: 0.2s all ease;
        }

        .border_bl {
            width: 0.5rem;
            height: 0.5rem;
            border-bottom: 1px solid #FFFFFF;
            border-left: 1px solid #FFFFFF;
            position: absolute;
            left: -0.05rem;
            bottom: -0.05rem;
            transition: 0.2s all ease;
        }

        .border_br {
            width: 0.5rem;
            height: 0.5rem;
            border-bottom: 1px solid #FFFFFF;
            border-right: 1px solid #FFFFFF;
            position: absolute;
            right: -0.05rem;
            bottom: -0.05rem;
            transition: 0.2s all ease;
        }

        &:hover {
            span {
                transform: scale(1.25);
            }
        }
    }
}


// joinTournament_wraper ----------------

.joinTournament_wraper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2.4rem;
    padding: 4.2rem 0rem;

    @media #{$md} {
        flex-direction: column;
    }

    .joint_details {
        width: 72%;

        @media #{$md} {
            width: 100%;
        }
    }

    .joint_groups {
        width: 28%;

        @media #{$md} {
            width: 100%;
        }
    }
} 

.joint_title {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    h3 {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 130%;
        color: #FFFFFF;
    }

    a {
        font-family: $heeboFont;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 160%;
        letter-spacing: initial;
        color: #F02731;
        position: relative;

        &::before {
            content: "";
            width: 0.5rem;
            height: 0.5rem;
            background: #F02731;
            display: inline-block;
            border-radius: 50%;
            margin-left: 0.4rem;
        }
    }    
}

.jointCard_wraper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.4rem;
    padding-top: 2rem;

    @media #{$sm} {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        column-gap: 1.5rem;
    }
    
    .joint_card {
        background: #080808;
        padding: 1.2rem 1.6rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .border_tl {
            width: 1rem;
            height: 1rem;
            border-top: 1px solid #651418;
            border-left: 1px solid #651418;
            position: absolute;
            left: -0.05rem;
            top: -0.05rem;
            transition: 0.2s all ease;
        }

        .border_tr {
            width: 1rem;
            height: 1rem;
            border-top: 1px solid #651418;
            border-right: 1px solid #651418;
            position: absolute;
            right: -0.05rem;
            top: -0.05rem;
            transition: 0.2s all ease;
        }

        .border_bl {
            width: 1rem;
            height: 1rem;
            border-bottom: 1px solid #651418;
            border-left: 1px solid #651418;
            position: absolute;
            left: -0.05rem;
            bottom: -0.05rem;
            transition: 0.2s all ease;
        }

        .border_br {
            width: 1rem;
            height: 1rem;
            border-bottom: 1px solid #651418;
            border-right: 1px solid #651418;
            position: absolute;
            right: -0.05rem;
            bottom: -0.05rem;
            transition: 0.2s all ease;
        }

        &:hover {
            span {
                border-color: #DA1111;
            }
        }

        .joint_cardText {
            h4 {
                font-size: 1.8rem;
                font-weight: 400;
                color: #FFFFFF;
                margin-bottom: 0.4rem;
            }

            p {
                font-family: $heeboFont;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 160%;
                letter-spacing: initial;
                color: rgba(255, 255, 255, 0.7);
            }

            a {
                font-family: $heeboFont;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 160%;
                letter-spacing: initial;
                color: rgba(255, 255, 255, 0.7);
            }
        }

        .joint_cardImg {
            img {
                width: 3.2rem;

                @media #{$md} {
                    width: 2.6rem;
                }
            }
        }

        .joint_cardGame {
            border: 1px solid #480F0F;
            img {
                width: 4rem;

                @media #{$md} {
                    width: 3.5rem;
                }
            }
        }
    }
}


// jointdetails_wraper ----------------

.jointdetails_wraper {
    padding-top: 4rem;

    .discord_comunityBox {
        background: #300808;
        padding: 2rem 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media #{$sm} {
            flex-direction: column;
            align-items: flex-start;
            gap: 2rem;
        }

        .discord_comunityText {
            max-width: 54rem;
            width: 100%;
            display: flex;
            align-items: center;
            gap: 1.6rem;

            img {
                width: 5.6rem;
                flex-shrink: 0;

                @media #{$md} {
                    width: 5rem;
                }
            }

            p {
                font-family: $heeboFont;
                font-size: 2rem;
                font-weight: 400;
                line-height: 150%;
                letter-spacing: initial;
                color: #FFFFFF;

                @media #{$md} {
                    font-size: 1.8rem;
                }
            }
        }

        .discord_comunityBtn {
            flex-shrink: 0;

            @media #{$sm} {
                text-align: center;
                margin: 0 auto;
            }

            a {
                font-family: $primaryFont;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 120%;
                color: #F5F6FF;
                width: 11.2rem;
                height: 3.7rem;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                background: #F02731;
                border: 1px solid #F46B4F;
                box-shadow: 0rem 0.2rem 1.7rem rgba(249, 204, 97, 0.54) inset;
                position: relative;

                .border_tl {
                    width: 0.6rem;
                    height: 0.5rem;
                    border-top: 1px solid #FFFFFF;
                    border-left: 1px solid #FFFFFF;
                    position: absolute;
                    left: -0.1rem;
                    top: -0.1rem;
                    transition: 0.2s all ease;
                }

                .border_tr {
                   width: 0.6rem;
                    height: 0.5rem;
                    border-top: 1px solid #FFFFFF;
                    border-right: 1px solid #FFFFFF;
                    position: absolute;
                    right: -0.1rem;
                    top: -0.1rem;
                    transition: 0.2s all ease;
                }

                .border_bl {
                    width: 0.6rem;
                    height: 0.5rem;
                    border-bottom: 1px solid #FFFFFF;
                    border-left: 1px solid #FFFFFF;
                    position: absolute;
                    left: -0.1rem;
                    bottom: -0.1rem;
                    transition: 0.2s all ease;
                }

                .border_br {
                    width: 0.6rem;
                    height: 0.5rem;
                    border-bottom: 1px solid #FFFFFF;
                    border-right: 1px solid #FFFFFF;
                    position: absolute;
                    right: -0.1rem;
                    bottom: -0.1rem;
                    transition: 0.2s all ease;
                }

                &:hover {
                    span {
                        transform: scale(1.25);
                    }
                }
            }
        }
    }

    .jointDetails_text {
        padding: 2.4rem 0rem;

        h4 {
            font-family: $heeboFont;
            font-size: 2rem;
            font-weight: 500;
            line-height: 150%;
            letter-spacing: initial;
            color: #FFFFFF;
            margin: 1.6rem 0rem 1rem;
        }

        ul {
            max-width: 46.8rem;
            width: 100%;
            list-style-type: decimal;
            padding-right: 2rem;

            li {
                font-family: $heeboFont;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 160%;
                letter-spacing: initial;
                color: rgba(255, 255, 255, 0.7);
            }
        }

        p {
            font-family: $heeboFont;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 160%;
            letter-spacing: initial;
            color: rgba(255, 255, 255, 0.7);
        }
    }

    .jointDetails_heading {
        background: #300808;
        padding: 2rem 2.2rem;

        h3 {
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 125%;
            color: #F5F5F5;

            @media #{$sm} {
                font-size: 2.5rem;
            }
        }
    }

    .maneger_item {
        padding-top: 2.4rem;
        border-top: 1px solid rgba(255, 255, 255, 0.10);
    }

    .maneger_box {
        max-width: 30.2rem;
        width: 100%;
        background: #080808;
        padding: 1.8rem 1.6rem;
        margin-top: 1.6rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .border_tl {
            width: 1.2rem;
            height: 1.2rem;
            border-top: 1px solid #68181C;
            border-left: 1px solid #68181C;
            position: absolute;
            left: -0.05rem;
            top: -0.05rem;
            transition: 0.2s all ease;
        }

        .border_tr {
            width: 1.2rem;
            height: 1.2rem;
            border-top: 1px solid #68181C;
            border-right: 1px solid #68181C;
            position: absolute;
            right: -0.05rem;
            top: -0.05rem;
            transition: 0.2s all ease;
        }

        .border_bl {
            width: 1.2rem;
            height: 1.2rem;
            border-bottom: 1px solid #68181C;
            border-left: 1px solid #68181C;
            position: absolute;
            left: -0.05rem;
            bottom: -0.05rem;
            transition: 0.2s all ease;
        }

        .border_br {
            width: 1.2rem;
            height: 1.2rem;
            border-bottom: 1px solid #68181C;
            border-right: 1px solid #68181C;
            position: absolute;
            right: -0.05rem;
            bottom: -0.05rem;
            transition: 0.2s all ease;
        }
        
        .maneger_text {
            display: flex;
            align-items: center;
            gap: 1.2rem;
            
            .manager_img {
                flex-shrink: 0;
                border: 1px solid #F60606;

                img {
                    width: 4rem;
                    height: 4rem;
                    object-fit: cover;
                }
            }

            h4 {
                font-family: $heeboFont;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 160%;
                letter-spacing: initial;
                color: #FFFFFF;
            }

            p {
                font-family: $heeboFont;
                font-size: 1.2rem;
                font-weight: 400;
                color: rgba(255, 255, 255, 0.54);
            }
        }

        .dot_btn {
            position: relative;

            img {
                width: 2.4rem;
            }

            .maneger_dropdown {
                width: 19.3rem;
                background: #000000;
                padding: 1.2rem 0rem;
                position: absolute;
                top: 100%;
                left: 0;
                margin-top: 0.7rem;
                opacity: 0;
                visibility: hidden;
                transform: translateY(1.5rem);
                transition: opacity 0.25s ease, transform 0.25s ease, visibility 0.25s ease;
                pointer-events: none;

                .border_tl {
                    width: 1.2rem;
                    height: 0.6rem;
                    border-top: 1px solid #F02731;
                    border-left: 1px solid #F02731;
                    position: absolute;
                    left: -0.05rem;
                    top: -0.05rem;
                    transition: 0.2s all ease;
                }

                .border_tr {
                    width: 1.2rem;
                    height: 0.6rem;
                    border-top: 1px solid #F02731;
                    border-right: 1px solid #F02731;
                    position: absolute;
                    right: -0.05rem;
                    top: -0.05rem;
                    transition: 0.2s all ease;
                }

                .border_bl {
                    width: 1.2rem;
                    height: 0.6rem;
                    border-bottom: 1px solid #F02731;
                    border-left: 1px solid #F02731;
                    position: absolute;
                    left: -0.05rem;
                    bottom: -0.05rem;
                    transition: 0.2s all ease;
                }

                .border_br {
                    width: 1.2rem;
                    height: 0.6rem;
                    border-bottom: 1px solid #F02731;
                    border-right: 1px solid #F02731;
                    position: absolute;
                    right: -0.05rem;
                    bottom: -0.05rem;
                    transition: 0.2s all ease;
                }

                a {
                    font-family: $heeboFont;
                    font-size: 1.6rem;
                    font-weight: 500;
                    letter-spacing: initial;
                    color: rgba(255, 255, 255, 0.8);
                    display: flex;
                    align-items: center;
                    gap: 0.4rem;
                    padding: 0.8rem 2rem;
                    transition: 0.2s all ease;

                    img {
                        width: 2rem;
                    }

                    &:hover {
                        color: #FFF;
                        background: #F02731;
                    }
                }
            }

            &.active {
                .maneger_dropdown {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                    pointer-events: auto;
                    z-index: 9;
                }
            }
        }
    }
}


// joint_groupBox ----------------

.joint_groupBox {
    background: #080808;
    padding: 1.8rem 1.8rem;
    margin-top: 1.2rem;
    margin-bottom: 2.4rem;
    position: relative;

    .border_tl {
        width: 1.2rem;
        height: 1.2rem;
        border-top: 1px solid #68181C;
        border-left: 1px solid #68181C;
        position: absolute;
        left: -0.05rem;
        top: -0.05rem;
        transition: 0.2s all ease;
    }

    .border_tr {
        width: 1.2rem;
        height: 1.2rem;
        border-top: 1px solid #68181C;
        border-right: 1px solid #68181C;
        position: absolute;
        right: -0.05rem;
        top: -0.05rem;
        transition: 0.2s all ease;
    }

    .border_bl {
        width: 1.2rem;
        height: 1.2rem;
        border-bottom: 1px solid #68181C;
        border-left: 1px solid #68181C;
        position: absolute;
        left: -0.05rem;
        bottom: -0.05rem;
        transition: 0.2s all ease;
    }

    .border_br {
        width: 1.2rem;
        height: 1.2rem;
        border-bottom: 1px solid #68181C;
        border-right: 1px solid #68181C;
        position: absolute;
        right: -0.05rem;
        bottom: -0.05rem;
        transition: 0.2s all ease;
    }
}

.groupBox_textWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #360E10;
    padding-bottom: 1.2rem;

    .groupBox_text {
        text-align: center;

        h4 {
            font-size: 1.6rem;
            font-weight: 400;
            color: #FFFFFF;
            margin-bottom: 0.4rem;
        }

        p {
            font-family: $heeboFont;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 160%;
            letter-spacing: initial;
            color: rgba(255, 255, 255, 0.7);
        }
    }
}

.groupBox_item {
    padding-top: 2rem;

    .groupBox_img {
        display: flex;
        align-items: center;
        margin-bottom: 1.2rem;

        img {
            width: 4.8rem;
            height: 4.8rem;
            object-fit: cover;
            border: 1px solid #9B1A1A;
            border-radius: 50%;
            margin-right: -1rem;

            &:first-child {
                margin-right: 0rem;
                z-index: 9;
            }
        }
    }

    p {
        font-family: $heeboFont;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 160%;
        letter-spacing: initial;
        color: rgba(255, 255, 255, 0.7);
        max-width: 20.2rem;
        width: 100%;
        direction: ltr;
        text-align: right;
    }
}


// prize_part ---------------

.prize_item {
    .prize_text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 1.6rem;
        padding-bottom: 1.2rem;
        border-bottom: 1px solid #360E10;

        &:first-child {
            padding-top: 0rem;
        }

        &:last-child {
            border-bottom: none;
        }

        span {
            font-size: 1.6rem;
            font-weight: 400;
            background: linear-gradient(to right bottom, #FDAC33, #DE5709);
            background-clip: border-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .second_place {
            background: linear-gradient(to right bottom, #F5F6FF, #808080);
            background-clip: border-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .third_place {
            background: linear-gradient(to right bottom, #B85523, #B85523);
            background-clip: border-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        p {
            font-size: 1.6rem;
            font-weight: 400;
            color: #FFFFFF;
        }
    }
}


// time line ------------------

.timeline_wraper {
    .timeline_item {
        display: flex;
        align-items: flex-start;
        gap: 1.6rem;
        margin-bottom: 1.6rem;

        .timeline_icon {
            flex-shrink: 0;

            img {
                width: 2.4rem;
                display: block;

                &:last-child {
                    width: 1.1rem;
                    display: block;
                    margin: 0 auto;
                }   
            }
        }

        .timeline_text {
            span {
                font-family: $heeboFont;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 160%;
                letter-spacing: initial;
                color: rgba(255, 255, 255, 0.7);
            }

            h4 {
                font-family: $heeboFont;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 160%;
                letter-spacing: initial;
                color: #FFF;
            }

            p {
                font-family: $heeboFont;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 160%;
                letter-spacing: initial;
                color: rgba(255, 255, 255, 0.7);
                max-width: 18.8rem;
                width: 100%;
            }
        }

        &:hover {
            cursor: pointer;
        } 

        &.active,
        &:hover {
            img {
                filter: brightness(0) saturate(100%) invert(25%) sepia(20%) saturate(6913%) hue-rotate(340deg) brightness(77%) contrast(104%);
            }
        }
    }
}


// conversation_box----------------

.conversation_box {
    padding: 1.6rem 1.2rem 1.6rem 1.6rem;
    position: relative;

    .chat_box {
        .chat_heading {
            display: flex;
            align-items: center;
            gap: 0.8rem;
            padding-bottom: 1.6rem;
            border-bottom: 1px solid #360E10;

            .chat_heading_img {
                width: 5.2rem;
                height: 4.8rem;
                border: 1px solid #9B1A1B;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .chat_heading_text {
                h4 {
                    font-family: $heeboFont;
                    font-size: 1.6rem;
                    font-weight: 500;
                    line-height: 160%;
                    color: rgba(255, 255, 255, 0.8);
                }
            }

            .expand_btn {
                margin-right: auto;

                img {
                    width: 1.4rem;
                }
            }
        }

        .chat_panelWraper {
            padding: 1.6rem 0rem;
            direction: ltr;

            .chat_panel {
                height: 19rem;
                overflow: auto;
                scrollbar-width: thin;
                scrollbar-color: #300808 #170909;
                padding-right: 1.2rem;

                &::-webkit-scrollbar {
                    width: 0.4rem;
                    border-radius: 2rem;
                }

                &::-webkit-scrollbar-track {
                    background: #170909;
                    border-radius: 2rem;
                }

                &::-webkit-scrollbar-thumb {
                    background: #300808;
                    border-radius: 2rem;
                }

                .chat_text {
                    background: #210A0A;
                    padding: 0.4rem 1rem;
                    border-radius: 1.6rem 1.6rem 0rem 1.6rem;
                    display: inline-block;

                    p {
                        font-family: $heeboFont;
                        font-size: 1.4rem;
                        font-weight: 500;
                        line-height: 160%;
                        text-transform: uppercase;
                        letter-spacing: initial;
                        color: rgba(255, 255, 255, 0.8);
                        display: inline-block;
                    }
                }

                .chat_item {
                    display: flex;
                    align-items: center;
                    gap: 0.8rem;
                    margin-bottom: 1rem;
                    margin-left: auto;
                    justify-content: flex-end;

                    .chat_text {
                        border-radius: 1.6rem 1.6rem 1.6rem 0rem;
                    }

                    img {
                        width: 3rem;
                        height: 3rem;
                        object-fit: cover;
                        border: 1px solid #9B1A1A;
                        border-radius: 50%;
                    }                               
                }

                .chat_item2 {
                    margin-right: auto;
                    justify-content: flex-start;

                    .chat_text {
                        background: #171717;
                    }
                }
            }
        }

        .chatField_wrap {
            background: #080808;
            margin-top: auto;
            z-index: 9;
            position: relative;

            &::before {
                content: "";
                width: 100%;
                height: 3.5rem;
                display: block;
                background: linear-gradient(to bottom, transparent, #000);
                position: absolute;
                bottom: 100%;
                left: 0;
                
            }

            .chatField_item {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.8rem;

                button {
                    background: transparent;
                    border: none;
                    outline: none;
                    padding: 0;
                    flex-shrink: 0;

                    img {
                        width: 2rem;
                    }
                }

                .chat_input {
                    width: 100%;
                    position: relative;

                    .border_tl {
                        width: 0.5rem;
                        height: 0.6rem;
                        border-top: 1px solid #A11B1B;
                        border-left: 1px solid #A11B1B;
                        position: absolute;
                        left: -0.1rem;
                        top: -0.1rem;
                        transition: 0.2s all ease;
                    }

                    .border_tr {
                        width: 0.5rem;
                        height: 0.6rem;
                        border-top: 1px solid #A11B1B;
                        border-right: 1px solid #A11B1B;
                        position: absolute;
                        right: -0.1rem;
                        top: -0.1rem;
                        transition: 0.2s all ease;
                    }

                    .border_bl {
                        width: 0.5rem;
                        height: 0.6rem;
                        border-bottom: 1px solid #A11B1B;
                        border-left: 1px solid #A11B1B;
                        position: absolute;
                        left: -0.1rem;
                        bottom: -0.1rem;
                        transition: 0.2s all ease;
                    }

                    .border_br {
                        width: 0.5rem;
                        height: 0.6rem;
                        border-bottom: 1px solid #A11B1B;
                        border-right: 1px solid #A11B1B;
                        position: absolute;
                        right: -0.1rem;
                        bottom: -0.1rem;
                        transition: 0.2s all ease;
                    }

                    &:focus {
                        border-color: #3F1717;
                    }

                    input {
                        width: 100%;
                        height: 3.7rem;
                        display: block;
                        background: rgba(255, 255, 255, 0.10);
                        border: 1px solid rgba(255, 255, 255, 0.16);
                        padding: 0.5rem 1.2rem;
                        text-align: right;
                        font-family: $heeboFont;
                        font-size: 1.4rem;
                        font-weight: 400;
                        color: rgba(255, 255, 255, 0.8);
                        outline: none;

                        &::placeholder {
                            color: rgba(255, 255, 255, 0.8);
                            opacity: 1;
                        }

                        &:focus {
                            border-color: #400E10;
                        }
                    }
                }
            }
        } 
    }

    .conversation_overlay {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(0.7rem);
        -webkit-backdrop-filter: blur(0.7rem);
        position: absolute;
        inset: 0;
        z-index: 10;

        img {
            width: 3.2rem;
        }

        p {
            font-size: 1.4rem;
            font-weight: 400;
            color: #FFF;
            margin: 0.8rem 0rem 1.2rem;
        }

        a {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 120%;
            color: #F5F6FF;
            width: 15.4rem;
            height: 3.7rem;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            background: #F02731;
            border: 1px solid #F46B4F;
            box-shadow: 0rem 0.2rem 1.7rem rgba(249, 204, 97, 0.54) inset;
            position: relative;

            .border_tl {
                width: 0.6rem;
                height: 0.5rem;
                border-top: 1px solid #FFFFFF;
                border-left: 1px solid #FFFFFF;
                position: absolute;
                left: -0.1rem;
                top: -0.1rem;
                transition: 0.2s all ease;
            }

            .border_tr {
                width: 0.6rem;
                height: 0.5rem;
                border-top: 1px solid #FFFFFF;
                border-right: 1px solid #FFFFFF;
                position: absolute;
                right: -0.1rem;
                top: -0.1rem;
                transition: 0.2s all ease;
            }

            .border_bl {
                width: 0.6rem;
                height: 0.5rem;
                border-bottom: 1px solid #FFFFFF;
                border-left: 1px solid #FFFFFF;
                position: absolute;
                left: -0.1rem;
                bottom: -0.1rem;
                transition: 0.2s all ease;
            }

            .border_br {
                width: 0.6rem;
                height: 0.5rem;
                border-bottom: 1px solid #FFFFFF;
                border-right: 1px solid #FFFFFF;
                position: absolute;
                right: -0.1rem;
                bottom: -0.1rem;
                transition: 0.2s all ease;
            }

            &:hover {
                span {
                    transform: scale(1.25);
                }
            }
        }
    }

}


// live_stream ------------

.live_stream {
    height: 20rem;
    position: relative;

    @media #{$md} {
        height: 35rem;
    }

    @media #{$sm} {
        height: 25rem;
    }

    iframe {
        width: 100%;
        height: 100%;
    }
}


// data base ---------------

.database_wraper {
    .database_item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.6rem 0rem 1.2rem;
        border-bottom: 1px solid #360E10;

        &:first-child {
            padding-top: 0rem;
        }

        &:last-child {
            padding-bottom: 0rem;
            border-bottom: none;
        }

        img {
            width: 4rem;
            height: 4rem;
            object-fit: cover;
            border: 1px solid #A1201F;
        }

        p {
            font-size: 1.6rem;
            font-weight: 400;
            color: #FFF;
            display: flex;
            align-items: center;
            gap: 1rem;

            span {
                width: 0.2rem;
                height: 1.4rem;
                display: block;
                background: #F02731;
            }
        }
    }
}


// settings wraper -------------------

.settings_wraper {
    .settings_item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.6rem 0rem 1.4rem;
        border-bottom: 1px solid #360E10;

        &:first-child {
            padding-top: 0rem;
        }

        &:last-child {
            padding-bottom: 0rem;
            border-bottom: none;
        }

        p {
            font-size: 1.6rem;
            font-weight: 400;
            color: #FFF;
            display: flex;
            align-items: center;
            gap: 0.8rem;

            span {
                width: 0.9rem;
                height: 0.9rem;
                display: block;
                background: #DA1111;
                border: 1px solid rgba(218, 17, 17, 0.30);
                border-radius: 50%;
            }

            .green {
                background: #1FE93C;
                border-color: rgba(31, 233, 60, 0.30);
            }
        }
    }
}



// before join tournament modal -------------------

.jointmodal_body {
    padding: 5.5rem 4rem;

    @media #{$sm} {
        padding: 3.6rem 2rem;
    }
    
    .jointmodal_btn {
        padding-top: 4rem;
        border-top: 1px solid #370E10;

        a {
            font-family: "Cooperative";
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 120%;
            color: #F5F6FF;
            display: inline-block;
            padding: 0.8rem 4rem;
            text-align: center;
            background: #F02731;
            border: 1px solid #F46B4F;
            box-shadow: 0rem 0.2rem 1.7rem rgba(249, 204, 97, 0.54) inset;
            position: relative;

            .border_tl {
                width: 0.6rem;
                height: 0.5rem;
                border-top: 1px solid #FFFFFF;
                border-left: 1px solid #FFFFFF;
                position: absolute;
                left: -0.1rem;
                top: -0.1rem;
                transition: 0.2s all ease;
            }

            .border_tr {
                width: 0.6rem;
                height: 0.5rem;
                border-top: 1px solid #FFFFFF;
                border-right: 1px solid #FFFFFF;
                position: absolute;
                right: -0.1rem;
                top: -0.1rem;
                transition: 0.2s all ease;
            }

            .border_bl {
                width: 0.6rem;
                height: 0.5rem;
                border-bottom: 1px solid #FFFFFF;
                border-left: 1px solid #FFFFFF;
                position: absolute;
                left: -0.1rem;
                bottom: -0.1rem;
                transition: 0.2s all ease;
            }

            .border_br {
                width: 0.6rem;
                height: 0.5rem;
                border-bottom: 1px solid #FFFFFF;
                border-right: 1px solid #FFFFFF;
                position: absolute;
                right: -0.1rem;
                bottom: -0.1rem;
                transition: 0.2s all ease;
            }

            &:hover {
                span {
                    transform: scale(1.25);
                }
            }
        }

        .disable {
            background: #1E0E0E;
            color: #675D60;
            border-color: rgba(255, 255, 255, 0.10);
            box-shadow: none;
            cursor: no-drop;
            pointer-events: none;

            span {
                border-color: #888484;
            }
        }
    }
}

.jointmodal_title {
    p {
        font-family: $heeboFont;
        font-size: 2rem;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: initial;
        color: rgba(255, 255, 255, 0.8);
        margin-top: 1.2rem;

        @media #{$sm} {
            font-size: 1.8rem;
        }
    }
}

.addaccount_wrap {
    padding-top: 4rem;
    padding-bottom: 4.2rem;

    .addaccount_item {
        display: flex;
        align-items: center;
        gap: 0.8rem;

        .addaccount_icon {
            flex-shrink: 0;
            a {
                width: 4.8rem;
                height: 4.8rem;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #3E1617;
                border: 1px solid #614546;

                img {
                    width: 2.1rem;
                }
            }
        }

        .addaccount_text {
            h4 {
                font-family: $heeboFont;
                font-size: 2rem;
                font-weight: 500;
                line-height: 150%;
                letter-spacing: initial;
                color: rgba(255, 255, 255, 0.8);
                margin-bottom: 0.4rem;
            }

            p {
                font-family: $heeboFont;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 160%;
                letter-spacing: initial;
                color: rgba(255, 255, 255, 0.7);
            }
        }
    }

    .addaccount_btn {
        padding-top: 2.4rem;

        a {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 120%;
            color: #F5F6FF;
            background: #F02731;
            display: inline-block;
            padding: 0.9rem 2rem;
            transition: 0.2s all ease;

            &:hover {
                opacity: 0.85;
            }
        }
    }
}


.addgame_wraper {
    padding: 4rem 0rem 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .addgame_item {
        display: flex;
        align-items: center;
        gap: 0.8rem;

        .addgame_img {
            width: 5.4rem;
            height: 5rem;
            border: 1px solid #A31B1C;
            flex-shrink: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .addgame_text {
            p {
                font-family: $heeboFont;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 160%;
                letter-spacing: initial;
                color: rgba(255, 255, 255, 0.8);
                display: flex;
                align-items: center;
                gap: 0.6rem;

                img {
                    width: 1.4rem;
                }
            }
        }
    }

    .dot_btn {
        position: relative;

        img {
            width: 2.4rem;
        }

        .maneger_dropdown {
            width: 19.3rem;
            background: #000000;
            padding: 1.2rem 0rem;
            position: absolute;
            top: 100%;
            left: 0;
            margin-top: 0.7rem;
            opacity: 0;
            visibility: hidden;
            transform: translateY(1.5rem);
            transition: opacity 0.25s ease, transform 0.25s ease, visibility 0.25s ease;
            pointer-events: none;

            .border_tl {
                width: 1.2rem;
                height: 0.6rem;
                border-top: 1px solid #F02731;
                border-left: 1px solid #F02731;
                position: absolute;
                left: -0.05rem;
                top: -0.05rem;
                transition: 0.2s all ease;
            }

            .border_tr {
                width: 1.2rem;
                height: 0.6rem;
                border-top: 1px solid #F02731;
                border-right: 1px solid #F02731;
                position: absolute;
                right: -0.05rem;
                top: -0.05rem;
                transition: 0.2s all ease;
            }

            .border_bl {
                width: 1.2rem;
                height: 0.6rem;
                border-bottom: 1px solid #F02731;
                border-left: 1px solid #F02731;
                position: absolute;
                left: -0.05rem;
                bottom: -0.05rem;
                transition: 0.2s all ease;
            }

            .border_br {
                width: 1.2rem;
                height: 0.6rem;
                border-bottom: 1px solid #F02731;
                border-right: 1px solid #F02731;
                position: absolute;
                right: -0.05rem;
                bottom: -0.05rem;
                transition: 0.2s all ease;
            }

            a {
                font-family: $heeboFont;
                font-size: 1.6rem;
                font-weight: 500;
                letter-spacing: initial;
                color: rgba(255, 255, 255, 0.8);
                display: flex;
                align-items: center;
                gap: 0.4rem;
                padding: 0.8rem 2rem;
                transition: 0.2s all ease;

                img {
                    width: 2rem;
                }

                &:hover {
                    color: #FFF;
                }
            }
        }

        &.active {
            .maneger_dropdown {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
                pointer-events: auto;
                z-index: 9;
            }
        }
    }
}


//  remove_modal -------
.remove_modal {
    max-width: 54rem;

    .removemodal_body {
        padding: 4rem 4rem;
        text-align: center;

        @media #{$sm} {
            padding: 3rem 2rem;
        }

        .removemodal_title {
            text-align: center;

            h3 {
                font-size: 3.2rem;
                font-weight: 700;
                line-height: 125%;
                color: #F5F5F5;
                margin-bottom: 3.2rem;

                @media #{$sm} {
                    font-size: 2.6rem;
                }
            }

            p {
                font-family: $heeboFont;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 160%;
                letter-spacing: initial;
                color: rgba(255, 255, 255, 0.8);
            }
        }

        .removemodal_button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.6rem;
            padding-top: 4rem;

            a {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 120%;
                color: #FFF;
                background: #292222;
                border: 1px solid rgba(255, 255, 255, 0.10);
                width: 15.4rem;
                height: 3.7rem;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                position: relative;
                transition: 0.2s all ease;

                .border_tl {
                    width: 0.6rem;
                    height: 0.5rem;
                    border-top: 1px solid #FFFFFF;
                    border-left: 1px solid #FFFFFF;
                    position: absolute;
                    left: -0.1rem;
                    top: -0.1rem;
                    transition: 0.2s all ease;
                }

                .border_tr {
                    width: 0.6rem;
                    height: 0.5rem;
                    border-top: 1px solid #FFFFFF;
                    border-right: 1px solid #FFFFFF;
                    position: absolute;
                    right: -0.1rem;
                    top: -0.1rem;
                    transition: 0.2s all ease;
                }

                .border_bl {
                    width: 0.6rem;
                    height: 0.5rem;
                    border-bottom: 1px solid #FFFFFF;
                    border-left: 1px solid #FFFFFF;
                    position: absolute;
                    left: -0.1rem;
                    bottom: -0.1rem;
                    transition: 0.2s all ease;
                }

                .border_br {
                    width: 0.6rem;
                    height: 0.5rem;
                    border-bottom: 1px solid #FFFFFF;
                    border-right: 1px solid #FFFFFF;
                    position: absolute;
                    right: -0.1rem;
                    bottom: -0.1rem;
                    transition: 0.2s all ease;
                }

                &.active {
                    background: #F02731;
                    color: #F5F6FF;

                    span {
                        transform: scale(1.25);
                    }
                }

                &:hover {
                    background: #F02731;
                    color: #F5F6FF;
                    opacity: 0.85;

                    span {
                        transform: scale(1.25);
                    }
                }
            }
        }
    }
}



// successRegister_wrap ------------

.successRegister_wrap {
    padding: 4rem 0rem;

    .registM_wrap {
        max-width: 38.7rem;
        width: 100%;
        margin: 0 auto;
        align-items: flex-start;
        gap: 1.4rem;
        margin-bottom: 3rem;

        .checkmark_icon {
            flex-shrink: 0;

            img {
                width: 3.2rem;
            }
        }
    }

    .timeM_btn {
        text-align: center;

        button {
            font-family: "Heebo", sans-serif;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 160%;
            color: rgba(255, 255, 255, 0.8);
            background: #212121;
            border: none;
            outline: none;
            display: inline-flex;
            align-items: center;
            gap: 0.8rem;
            padding: 0.55rem 2rem;
            position: relative;

            img {
                width: 2rem;
            }

            .border_tl {
                width: 0.5rem;
                height: 0.5rem;
                border-top: 1px solid #FFFFFF;
                border-left: 1px solid #FFFFFF;
                position: absolute;
                left: -0.05rem;
                top: -0.05rem;
                transition: 0.2s all ease;
            }


            .border_tr {
                width: 0.5rem;
                height: 0.5rem;
                border-top: 1px solid #FFFFFF;
                border-right: 1px solid #FFFFFF;
                position: absolute;
                right: -0.05rem;
                top: -0.05rem;
                transition: 0.2s all ease;
            }

            .border_bl {
                width: 0.5rem;
                height: 0.5rem;
                border-bottom: 1px solid #FFFFFF;
                border-left: 1px solid #FFFFFF;
                position: absolute;
                left: -0.05rem;
                bottom: -0.05rem;
                transition: 0.2s all ease;
            }

            .border_br {
                width: 0.5rem;
                height: 0.5rem;
                border-bottom: 1px solid #FFFFFF;
                border-right: 1px solid #FFFFFF;
                position: absolute;
                right: -0.05rem;
                bottom: -0.05rem;
                transition: 0.2s all ease;
            }

            &:hover {
                span {
                    transform: scale(1.25);
                }
            }
        }
    }
}
