// map select page ----------------
.mapselect_timer {
    .text_color2 {
        color: #37AE48;
    }
}

.mapSelect_section {
    padding: 4rem 0rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);

    @media #{$sm} {
        padding: 3rem 0rem;
    }
}

.mapSelect_wraper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2.4rem;

    @media #{$md} {
        grid-template-columns: repeat(2, 1fr);
    }

    @media #{$xs} {
        grid-template-columns: 1fr;
    }

    .mapSelect_card {
        text-align: center;

        .mapSelect_box {
            border: 1px solid #661616;
            padding: 0.2rem 0.2rem;
            position: relative;
            transition: 0.2s all ease;

            .border_tl {
                width: 0.6rem;
                height: 0.6rem;
                border-top: 1px solid #A11B1B;
                border-left: 1px solid #A11B1B;
                position: absolute;
                left: -0.1rem;
                top: -0.1rem;
                transition: 0.2s all ease;
            }

            .border_tr {
                width: 0.6rem;
                height: 0.6rem;
                border-top: 1px solid #A11B1B;
                border-right: 1px solid #A11B1B;
                position: absolute;
                right: -0.1rem;
                top: -0.1rem;
                transition: 0.2s all ease;
            }

            .border_bl {
                width: 0.6rem;
                height: 0.6rem;
                border-bottom: 1px solid #A11B1B;
                border-left: 1px solid #A11B1B;
                position: absolute;
                left: -0.1rem;
                bottom: -0.1rem;
                transition: 0.2s all ease;
            }

            .border_br {
                width: 0.6rem;
                height: 0.6rem;
                border-bottom: 1px solid #A11B1B;
                border-right: 1px solid #A11B1B;
                position: absolute;
                right: -0.1rem;
                bottom: -0.1rem;
                transition: 0.2s all ease;
            }

            .mapSelect_banner {
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .mapSelect_overlay {
                    width: 100%;
                    height: 100%;
                    background: transparent;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    position: absolute;
                    inset: 0;
                    transition: 0.2s all ease;

                    p {
                        font-size: 2.4rem;
                        font-weight: 400;
                        line-height: 130%;
                        color: #FFF;
                        text-align: center;
                        opacity: 0;
                        visibility: hidden;
                        transition: 0.2s all ease;
                    }

                    &.selected {
                        box-shadow: 0rem 5.8rem 25rem 1.9rem #A11B1B inset;

                        p {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }

            &:hover {
                cursor: pointer;

                span {
                    transform: scale(1.3);
                }
            }
        }

        .mapSelect_text {
            padding-top: 1.2rem;
            text-align: center;

            h4 {
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 130%;
                color: #FFF;
                text-align: center;
            }
        }
    }
}


// roadmap section --------------

.mapRoadmap_section {
    padding: 5rem 0rem 10rem;

    @media #{$md} {
        padding: 4rem 0rem 6rem;
    }

    @media #{$sm} {
        padding: 3rem 0rem 5rem;
    }

    .mapRoadmap_wraper {
        max-width: 76rem;
        width: 100%;
        margin: 0 auto;
        position: relative;
        padding-top: 0.5rem;

        &::after {
            content: "";
            width: 1px;
            height: 95%;
            display: block;
            background: #3E3E3E;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);

            @media #{$sm} {
                left: 17.5%;
                transform: initial;
            }

            @media #{$xs} {
                left: 2.05rem;
                transform: initial;
            }
        }

        .mapRoadmap_item {
            max-width: 36.6rem;
            width: 100%;
            margin: 0;
            background: #212121;
            border: 1px solid #232F25;
            padding: 1.2rem 1.2rem;
            display: flex;
            align-items: center;
            gap: 1.2rem;
            position: relative;
            margin-bottom: 6rem;

            &:last-child {
                margin-bottom: 0rem;
            }

            .border_tl {
                width: 0.5rem;
                height: 0.5rem;
                border-top: 1px solid #37AE48;
                border-left: 1px solid #37AE48;
                position: absolute;
                left: -0.1rem;
                top: -0.1rem;
                transition: 0.2s all ease;
            }

            .border_tr {
                width: 0.5rem;
                height: 0.5rem;
                border-top: 1px solid #37AE48;
                border-right: 1px solid #37AE48;
                position: absolute;
                right: -0.1rem;
                top: -0.1rem;
                transition: 0.2s all ease;
            }

            .border_bl {
                width: 0.5rem;
                height: 0.5rem;
                border-bottom: 1px solid #37AE48;
                border-left: 1px solid #37AE48;
                position: absolute;
                left: -0.1rem;
                bottom: -0.1rem;
                transition: 0.2s all ease;
            }

            .border_br {
                width: 0.5rem;
                height: 0.5rem;
                border-bottom: 1px solid #37AE48;
                border-right: 1px solid #37AE48;
                position: absolute;
                right: -0.1rem;
                bottom: -0.1rem;
                transition: 0.2s all ease;
            }

            .mapRoadmap_img {
                flex-shrink: 0;

                img {
                    width: 4.8rem;
                    height: 4.8rem;
                    object-fit: cover;
                }
            }

            .mapRoadmap_text {
                h4 {
                    font-size: 1.6rem;
                    font-weight: 400;
                    color: #FFFFFF;
                    margin-bottom: 0.4rem;
                }

                p {
                    font-family: $heeboFont;
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 160%;
                    color: rgba(255, 255, 255, 0.70);
                }
            }

            &::before {
                content: "";
                width: 1.2rem;
                height: 1.2rem;
                background: #F02731;
                display: block;
                border-radius: 50%;
                position: absolute;
                left: -2.05rem;
                top: 0;
                z-index: 9;
            }

            @media #{$md} {
                max-width: 33.6rem;
                margin-bottom: 4.5rem;
                align-items: flex-start;
            }

            @media #{$sm} {
                max-width: 30.5rem;
                margin-bottom: 5rem;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .mapRoadmap_item2 {
            margin-right: auto;
            background: #281415;
            border-color: #341516;

            .border_tl,
            .border_tr,
            .border_bl,
            .border_br {
                border-color: #A11B1B;
            }

            &::before {
                left: initial;
                right: -2.2rem;
            }

            @media #{$sm} {
                margin-left: auto;
                margin-right: auto;

                &::before {
                    right: initial;
                    left: -2.05rem;
                }
            }
        }
    }
}