// overview page --------------

.info_box {
    .info_barGreen {
        background: #37AE48;
        border-color: rgba(55, 174, 72, 0.20);
    }
}


.tournament_overview_wraper {
    padding: 5.6rem 0rem 1.6rem;

    @media #{$sm} {
        padding: 4rem 0rem 0rem;
    }

    .row {
        --bs-gutter-x: 2rem;
        --bs-gutter-y: 2.4;
    }

    .overview_box {
        background: #121212;
        border: 1px solid rgba(240, 39, 49, 0.10);
        padding: 2.4rem 2.4rem;
        position: relative;

        @media #{$sm} {
            padding: 2rem 1.8rem;
        }

        .right_shape {
            img {
                width: 5.6rem;
                position: absolute;
                right: 0;
                top: 0.5rem;

                &:last-child {
                    top: 48%;
                }
            }
        }

        .left_shape {
            img {
                width: 5.6rem;
                position: absolute;
                left: 0;
                top: 0.5rem;

                &:last-child {
                    top: 48%;
                }
            }
        }

        .status {
            span {
                font-family: $heeboFont;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 160%;
                letter-spacing: initial;
                color: #F02731;
                background: rgba(255, 255, 255, 0.10);
                display: inline-block;
                padding: 0rem 0.5rem;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 9;
            }
        }

        .overview_title {
            text-align: center;

            span {
                font-family: $heeboFont;
                font-size: 1.2rem;
                font-weight: 400;
                letter-spacing: initial;
                color: #FFF;
                background: #A11B1B;
                display: inline-block;
                padding: 0rem 0.5rem;
            }

            h3 {
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 3.2rem;
                color: #FFF;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.6rem;
                margin: 1.8rem 0rem;

                img {
                    width: 4rem;
                }
            }

            p {
                font-size: 1.8rem;
                font-weight: 400;
                color: rgba(255, 255, 255, 0.70);
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                margin-bottom: 1.8rem;

                span {
                    width: 1px;
                    height: 1.2rem;
                    background: #F02731;
                    display: block;
                    padding: 0;
                }
            }
        }

        .overview_gameBox {
            background: #171717;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 1rem 1rem 1.5rem;
            margin-bottom: 0.2rem;
            position: relative;
            z-index: 9;

            .overview_gameItem {
                display: flex;
                align-items: center;
                gap: 1rem;

                .overview_gameImg {
                    img {
                        width: 3.3rem;
                    }
                }

                .overview_gameText {
                    p {
                        font-size: 1.4rem;
                        font-weight: 400;
                        line-height: 100%;
                        color: #F02731;
                        margin-bottom: 0.4rem;

                        &.green {
                            color: #37AE48;
                        }
                    }

                    h4 {
                        font-size: 1.6rem;
                        font-weight: 700;
                        line-height: 100%;
                        color: rgba(255, 255, 255, 0.80);
                    }
                }
            }

            .overview_gamePoint {
                h4 {
                    font-size: 2rem;
                    font-weight: 700;
                    line-height: 100%;
                    color: rgba(255, 255, 255, 0.80);
                }
            }
        }

        &.greenBox {
            border-color: rgba(55, 174, 72, 0.10);

            .status {
                span {
                    color: #37AE48;
                }
            }

            .overview_title {
                span {
                    background: #2FAA54;
                }

                p {
                    span {
                        background: #F02731;
                    }
                }
            }
        }
    }
}