// start-team page -------------------

.readyTeam_timer {
    .gradient_text {
        background: linear-gradient(
            to left,
            #DE5709 0%,
            #E46912 21%,
            #F69929 64%,
            #FDAC33 80%
        );

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
    }
}

.startTeam_section {
    padding: 4.5rem 0rem 10rem;

    @media #{$md} {
        padding: 3.2rem 0rem 5rem;
    }
}

.startTeam_wraper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2.4rem;
    flex-wrap: wrap;

    @media #{$sm} {
        flex-direction: column;
        align-items: center;
    }

    .startTeam_card {
        max-width: 30.2rem;
        width: 100%;
        text-align: center;

        .startTeam_box {
            width: 100%;
            height: 24.8rem;
            border: 1px solid #661616;
            padding: 0.2rem 0.2rem;
            position: relative;
            transition: 0.2s all ease;

            .border_tl {
                width: 0.6rem;
                height: 0.6rem;
                border-top: 1px solid #FFFFFF;
                border-left: 1px solid #FFFFFF;
                position: absolute;
                left: -0.1rem;
                top: -0.1rem;
                transition: 0.2s all ease;
            }

            .border_tr {
                width: 0.6rem;
                height: 0.6rem;
                border-top: 1px solid #FFFFFF;
                border-right: 1px solid #FFFFFF;
                position: absolute;
                right: -0.1rem;
                top: -0.1rem;
                transition: 0.2s all ease;
            }

            .border_bl {
                width: 0.6rem;
                height: 0.6rem;
                border-bottom: 1px solid #FFFFFF;
                border-left: 1px solid #FFFFFF;
                position: absolute;
                left: -0.1rem;
                bottom: -0.1rem;
                transition: 0.2s all ease;
            }

            .border_br {
                width: 0.6rem;
                height: 0.6rem;
                border-bottom: 1px solid #FFFFFF;
                border-right: 1px solid #FFFFFF;
                position: absolute;
                right: -0.1rem;
                bottom: -0.1rem;
                transition: 0.2s all ease;
            }

            .team_banner {
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .team_overlay {
                    width: 100%;
                    height: 100%;
                    background: rgba(40, 20, 21, 0.95);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    position: absolute;
                    inset: 0;
                    transition: 0.2s all ease;

                    img {
                        width: 11rem;
                        height: auto;
                    }

                    .team_game1 {
                        width: 9.9rem;
                    }

                    &.selected {
                        background: rgba(55, 174, 72, 0.60);
                    }
                }
            }

            &:hover {
                cursor: pointer;

                span {
                    transform: scale(1.3);
                }
            }
        }

        .startTeam_text {
            padding-top: 1.2rem;
            text-align: center;

            h4 {
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 130%;
                color: #FFF;
                text-align: center;
            }
        }
    }
}