/* ---------------- Google fonts ------------------ */

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

// font-family: "Heebo", sans-serif;



/* ---------------- Web fonts ------------------ */

@font-face {
	font-family: 'Cooperative';
	src: url('../webfonts/cooperative-regular.ttf');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Cooperative';
	src: url('../webfonts/cooperative-bold.ttf');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}


/* ---------------- Basic css ------------------ */

// 1rem = 10px
html {
	font-size: 0.694vw;
	
	@media #{$xxl} {
		font-size: 62.5%;
	}

	@media #{$md} {
		font-size: 62.5%;
	}

	@media #{$xs} {
		font-size: 2.415vw;
	}
}


html,
body,
header,
footer,
main,
nav,
section,
div,
menu,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
i,
ol,
ul,
li,
form,
label,
button {
	margin: 0;
	padding: 0;
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
	transition: 200ms;
	color: inherit;

	&:hover {
		color: inherit;
	}
}

button:focus,
a:focus,
input:focus,
textarea:focus,
select:focus {
	outline: none;
}

/* body */
body {
	font-family: $primaryFont;
	font-size: 1.6rem;
	font-weight: 400;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.06rem;
	color: #FFF;
	background: #0E0E0E;
}


// container
.container {
	max-width: 136rem;
	width: 100%;
	margin: 0 auto;
	padding-left: 2rem;
	padding-right: 2rem;

	@media #{$md} {
		max-width: 74rem;
	}

	@media #{$sm} {
		max-width: 55rem;
	}
}


// Heading -------

.title_box {
	display: flex;
	align-items: end;
	justify-content: space-between;
	padding-bottom: 4rem;

	@media #{$sm} {
		padding-bottom: 3rem;
    }
}

.title_xl {
	font-weight: 700;
	font-size: 4.8rem;
	line-height: 110%;
	letter-spacing: 0.15rem;

	@media #{$md} {
		font-size: 3.8rem;
    }

	@media #{$sm} {
		font-size: 3rem;
    }
}

.title_sm {
	font-weight: 400;
	font-size: 2.4rem;
	line-height: 120%;

	@media #{$sm} {
		font-size: 2.1rem;
    }
}

.subtitle {
	font-family: $heeboFont;
	color: #FFFFFFB2;
	font-weight: 400;
	font-size: 2rem;
	line-height: 170%;
	letter-spacing: -2%;
	padding-top: 1.4rem;

	@media #{$sm} {
		font-size: 1.8rem;
    }
}

.title_r_border {
	padding-right: 2.4rem;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 0.8rem;
		height: 4rem;
		background: #DA232D;

		@media #{$sm} {
			height: 3rem;
		}
	}
}



// Button ------------

.button {
	font-size: 1.6rem;
	font-weight: 400;
	color: #F9F9FF;
	background: #212121;
	display: inline-flex;
	align-items: center;
	gap: 0.8rem;
	padding: 1.1rem 2rem;
	transition: 0.2s all ease;
	position: relative;
	outline: none;

	@media #{$md} {
		font-size: 1.5rem;
		padding: 1rem 1.8rem;
	}

	img {
		width: 2rem;
	}

	.border_tl {
		width: 0.6rem;
		height: 0.6rem;
		border-top: 1px solid #FFFFFF;
		border-left: 1px solid #FFFFFF;
		position: absolute;
		left: -0.05rem;
		top: -0.05rem;
		transition: 0.2s all ease;
	}

	.border_tr {
		width: 0.6rem;
		height: 0.6rem;
		border-top: 1px solid #FFFFFF;
		border-right: 1px solid #FFFFFF;
		position: absolute;
		right: -0.05rem;
		top: -0.05rem;
		transition: 0.2s all ease;
	}

	.border_bl {
		width: 0.6rem;
		height: 0.6rem;
		border-bottom: 1px solid #FFFFFF;
		border-left: 1px solid #FFFFFF;
		position: absolute;
		left: -0.05rem;
		bottom: -0.05rem;
		transition: 0.2s all ease;
	}

	.border_br {
		width: 0.6rem;
		height: 0.6rem;
		border-bottom: 1px solid #FFFFFF;
		border-right: 1px solid #FFFFFF;
		position: absolute;
		right: -0.05rem;
		bottom: -0.05rem;
		transition: 0.2s all ease;
	}

	&:hover,
	&.active {
		background: radial-gradient(#E14638, #DA232D, #E14638);
		border-color: #E76A4C;

		span {
			border-color: #FDE9BB;
		}
	}
}

.button_red {
	width: 15.4rem;
	height: 3.8rem;
	padding: 0.6rem 2rem;
	justify-content: center;
	color: #F5F6FF;
	background: #F02731;
	border: 1px solid #F23D46;

	@media #{$sm} {
		width: 14rem;
	}

	.border_tl {
		top: -0.1rem;
		left: -0.1rem;
	}

	.border_tr {
		top: -0.1rem;
		right: -0.1rem;
	}

	.border_bl {
		bottom: -0.1rem;
		left: -0.1rem;
	}

	.border_br {
		bottom: -0.1rem;
		right: -0.1rem;
	}

	&:hover {
		background: #281415;
		border-color: #651418;

		span {
			border-color: #DA232D;
		}
	}
}



// input design ---------

.input_item {
	text-align: right;

	label {
		font-family: $heeboFont;
		font-size: 1.4rem;
		font-weight: 500;
		line-height: 1.4;
		color: #CECECE;
		display: flex;
		align-items: center;
		margin-bottom: 0.5rem;

		span {
			color: #C22129;
		}
	}

	.input_wrap {
		position: relative;

		.form_field {
			width: 100%;
			height: 4.4rem;
			display: block;
			text-align: right;
			font-size: 1.4rem;
			font-family: $heeboFont;
			font-weight: 400;
			line-height: 1.4;
			background: #212121;
			color: #D3D3D3;
			text-align: right;
			border: 1px solid #303030;
			padding: 1rem 1.2rem;
			outline: none;
			resize: none;

			&::placeholder {
				color: #D3D3D3;
				opacity: 1;
			}

			&:focus {
				border-color: #3F1717;
			}
		}

		textarea {
			padding: 1.2rem 1.2rem!important;
			height: 14.8rem!important;

			@media #{$sm} {
				height: 12rem!important;
			}
		}

		.date_input {
			direction: ltr;
		}

		.select_field {
			appearance: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			background-image: url('../img/down.svg');
			background-repeat: no-repeat;
			background-position: 1.2rem center;
			background-size: 2rem;
			padding-left: 3.6rem;
			cursor: pointer;
		}

		.border_tl {
			width: 0.8rem;
			height: 0.6rem;
			border-top: 1px solid #a11b1b;
			border-left: 1px solid #a11b1b;
			position: absolute;
			left: -0.05rem;
			top: -0.05rem;
			transition: 0.2s all ease;
		}

		.border_tr {
			width: 0.8rem;
			height: 0.6rem;
			border-top: 1px solid #a11b1b;
			border-right: 1px solid #a11b1b;
			position: absolute;
			right: -0.05rem;
			top: -0.05rem;
			transition: 0.2s all ease;
		}

		.border_bl {
			width: 0.8rem;
			height: 0.6rem;
			border-bottom: 1px solid #a11b1b;
			border-left: 1px solid #a11b1b;
			position: absolute;
			left: -0.05rem;
			bottom: -0.05rem;
			transition: 0.2s all ease;
		}

		.border_br {
			width: 0.8rem;
			height: 0.6rem;
			border-bottom: 1px solid #a11b1b;
			border-right: 1px solid #a11b1b;
			position: absolute;
			right: -0.05rem;
			bottom: -0.05rem;
			transition: 0.2s all ease;
		}
	}

	.textarea_wrap {
		.border_tr,
		.border_tl,
		.border_br,
		.border_bl {
			width: 1.8rem;
			height: 1.6rem;
		}
	}

}



// Modal -----------
.modal-dialog {
	max-width: 83rem;

	@media #{$md} {
		max-width: 65rem;
	}

	@media #{$sm} {
		max-width: 50rem;
	}

	.modal-content {
		background: #080808;
		border-radius: 0rem;

		.modal_body {
			padding: 6rem 6rem;

			@media #{$md} {
				padding: 4rem 3rem;
			}

			@media #{$sm} {
				padding: 3rem 1.5rem;
			}

			.modal_title {
				h3 {
					color: #F5F5F5;
					letter-spacing: 0.05rem;
				}
			}

			.modal_text {
				padding-top: 4.5rem;

				@media #{$sm} {
					padding-top: 3rem;
				}

				.input_item {
					margin-bottom: 1.6rem;

					label {
						margin-bottom: 0.8rem;
					}
				}
			}

			.done_btn {
				padding-top: 2.6rem;

				@media #{$sm} {
					padding-top: 1.6rem;
				}
			}
		}
	}
}



// swiper pagination -----------
.swiper-pagination-bullet {
	width: 1.2rem;
	height: 0.6rem;
	background: #818081;
	border-radius: 3rem;
	margin: 0rem 0.3rem!important;
	opacity: 1;

	&.swiper-pagination-bullet-active {
		width: 4rem;
		background: #A91B23;
	}
}

