/* ---------------- Google fonts ------------------ */

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

// font-family: "Heebo", sans-serif;


/* ---------------- Web fonts ------------------ */

@font-face {
	font-family: 'Cooperative';
	src: url('../webfonts/cooperative-regular.ttf');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Cooperative';
	src: url('../webfonts/cooperative-bold.ttf');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}


/* ---------------- Basic css ------------------ */

// 1rem = 10px
html {
	font-size: 0.694vw;
	
	@media #{$xxl} {
		font-size: 62.5%;
	}

	@media #{$md} {
		font-size: 62.5%;
	}

	@media #{$xs} {
		font-size: 2.415vw;
	}
}


html,
body,
header,
footer,
main,
nav,
section,
div,
menu,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
i,
ol,
ul,
li,
form,
label,
button {
	margin: 0;
	padding: 0;
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
	transition: 200ms;
	color: inherit;

	&:hover {
		color: inherit;
	}
}

button:focus,
a:focus,
input:focus,
textarea:focus,
select:focus {
	outline: none;
}

/* body */
body {
	font-family: $primaryFont;
	font-size: 1.6rem;
	font-weight: 400;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.06rem;
	color: #FFF;
	background: #0E0E0E;
}


// container
.container {
	max-width: 136rem;
	width: 100%;
	margin: 0 auto;
	padding-left: 2rem;
	padding-right: 2rem;

	@media #{$md} {
		max-width: 74rem;
	}

	@media #{$sm} {
		max-width: 55rem;
	}
}


// Heading -------

.title_box {
	display: flex;
	align-items: end;
	justify-content: space-between;
	padding-bottom: 4rem;

	@media #{$sm} {
		padding-bottom: 3rem;
    }
}

.title_xl {
	font-weight: 700;
	font-size: 4.8rem;
	line-height: 110%;
	letter-spacing: 0.15rem;

	@media #{$md} {
		font-size: 3.8rem;
    }

	@media #{$sm} {
		font-size: 3rem;
    }
}

.title_sm {
	font-weight: 400;
	font-size: 2.4rem;
	line-height: 120%;

	@media #{$sm} {
		font-size: 2.1rem;
    }
}

.subtitle {
	font-family: $heeboFont;
	color: #FFFFFFB2;
	font-weight: 400;
	font-size: 2rem;
	line-height: 170%;
	letter-spacing: -2%;
	padding-top: 1.4rem;

	@media #{$sm} {
		font-size: 1.8rem;
    }
}

.title_r_border {
	padding-right: 2.4rem;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 0.8rem;
		height: 4rem;
		background: #DA232D;

		@media #{$sm} {
			height: 3rem;
		}
	}
}



// Button ------------

.button {
	font-size: 1.6rem;
	font-weight: 400;
	color: #F9F9FF;
	background: #212121;
	display: inline-flex;
	align-items: center;
	gap: 0.8rem;
	padding: 1.1rem 2rem;
	transition: 0.2s all ease;
	position: relative;
	outline: none;

	@media #{$md} {
		font-size: 1.5rem;
		padding: 1rem 1.8rem;
	}

	img {
		width: 2rem;
	}

	.border_tl {
		width: 0.6rem;
		height: 0.6rem;
		border-top: 1px solid #FFFFFF;
		border-left: 1px solid #FFFFFF;
		position: absolute;
		left: -0.05rem;
		top: -0.05rem;
		transition: 0.2s all ease;
	}

	.border_tr {
		width: 0.6rem;
		height: 0.6rem;
		border-top: 1px solid #FFFFFF;
		border-right: 1px solid #FFFFFF;
		position: absolute;
		right: -0.05rem;
		top: -0.05rem;
		transition: 0.2s all ease;
	}

	.border_bl {
		width: 0.6rem;
		height: 0.6rem;
		border-bottom: 1px solid #FFFFFF;
		border-left: 1px solid #FFFFFF;
		position: absolute;
		left: -0.05rem;
		bottom: -0.05rem;
		transition: 0.2s all ease;
	}

	.border_br {
		width: 0.6rem;
		height: 0.6rem;
		border-bottom: 1px solid #FFFFFF;
		border-right: 1px solid #FFFFFF;
		position: absolute;
		right: -0.05rem;
		bottom: -0.05rem;
		transition: 0.2s all ease;
	}

	&:hover,
	&.active {
		background: radial-gradient(#E14638, #DA232D, #E14638);
		border-color: #E76A4C;

		span {
			border-color: #FDE9BB;
		}
	}
}

.button_red {
	width: 15.4rem;
	height: 3.8rem;
	padding: 0.6rem 2rem;
	justify-content: center;
	color: #F5F6FF;
	background: #F02731;
	border: 1px solid #F23D46;

	@media #{$sm} {
		width: 14rem;
	}

	.border_tl {
		top: -0.1rem;
		left: -0.1rem;
	}

	.border_tr {
		top: -0.1rem;
		right: -0.1rem;
	}

	.border_bl {
		bottom: -0.1rem;
		left: -0.1rem;
	}

	.border_br {
		bottom: -0.1rem;
		right: -0.1rem;
	}

	&:hover {
		background: #281415;
		border-color: #651418;

		span {
			border-color: #DA232D;
		}
	}
}



// input design ---------

.input_item {
	text-align: right;

	label {
		font-family: $heeboFont;
		font-size: 1.4rem;
		font-weight: 500;
		line-height: 1.4;
		color: #CECECE;
		display: flex;
		align-items: center;
		margin-bottom: 0.5rem;

		span {
			color: #C22129;
		}
	}

	.input_wrap {
		position: relative;

		.form_field {
			width: 100%;
			height: 4.4rem;
			display: block;
			text-align: right;
			font-size: 1.4rem;
			font-family: $heeboFont;
			font-weight: 400;
			line-height: 1.4;
			background: #212121;
			color: #D3D3D3;
			text-align: right;
			border: 1px solid #303030;
			padding: 1rem 1.2rem;
			outline: none;
			resize: none;

			&::placeholder {
				color: #D3D3D3;
				opacity: 1;
			}

			&:focus {
				border-color: #3F1717;
			}
		}

		textarea {
			padding: 1.2rem 1.2rem!important;
			height: 14.8rem!important;

			@media #{$sm} {
				height: 12rem!important;
			}
		}

		.date_input {
			direction: ltr;
		}

		.select_field {
			appearance: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			background-image: url('../img/down.svg');
			background-repeat: no-repeat;
			background-position: 1.2rem center;
			background-size: 2rem;
			padding-left: 3.6rem;
			cursor: pointer;
		}

		.border_tl {
			width: 0.8rem;
			height: 0.6rem;
			border-top: 1px solid #a11b1b;
			border-left: 1px solid #a11b1b;
			position: absolute;
			left: -0.05rem;
			top: -0.05rem;
			transition: 0.2s all ease;
		}

		.border_tr {
			width: 0.8rem;
			height: 0.6rem;
			border-top: 1px solid #a11b1b;
			border-right: 1px solid #a11b1b;
			position: absolute;
			right: -0.05rem;
			top: -0.05rem;
			transition: 0.2s all ease;
		}

		.border_bl {
			width: 0.8rem;
			height: 0.6rem;
			border-bottom: 1px solid #a11b1b;
			border-left: 1px solid #a11b1b;
			position: absolute;
			left: -0.05rem;
			bottom: -0.05rem;
			transition: 0.2s all ease;
		}

		.border_br {
			width: 0.8rem;
			height: 0.6rem;
			border-bottom: 1px solid #a11b1b;
			border-right: 1px solid #a11b1b;
			position: absolute;
			right: -0.05rem;
			bottom: -0.05rem;
			transition: 0.2s all ease;
		}
	}

	.textarea_wrap {
		.border_tr,
		.border_tl,
		.border_br,
		.border_bl {
			width: 1.8rem;
			height: 1.6rem;
		}
	}

}



// Modal -----------
.modal {
	z-index: 999999;
	background: rgba(0, 0, 0, 0.7);
}

.modal-dialog {
	max-width: 83rem;

	@media #{$md} {
		max-width: 65rem;
	}

	@media #{$sm} {
		max-width: 50rem;
	}

	.modal-content {
		background: #080808;
		border-radius: 0rem;

		.modal_body {
			padding: 6rem 6rem;

			@media #{$md} {
				padding: 4rem 3rem;
			}

			@media #{$sm} {
				padding: 3rem 1.5rem;
			}

			.modal_title {
				h3 {
					color: #F5F5F5;
					letter-spacing: 0.05rem;
				}
			}

			.modal_text {
				padding-top: 4.5rem;

				@media #{$sm} {
					padding-top: 3rem;
				}

				.input_item {
					margin-bottom: 1.6rem;

					label {
						margin-bottom: 0.8rem;
					}
				}
			}

			.done_btn {
				padding-top: 2.6rem;

				@media #{$sm} {
					padding-top: 1.6rem;
				}
			}
		}
	}
}



// swiper pagination -----------
.swiper-pagination-bullet {
	width: 1.2rem;
	height: 0.6rem;
	background: #818081;
	border-radius: 3rem;
	margin: 0rem 0.3rem!important;
	opacity: 1;

	&.swiper-pagination-bullet-active {
		width: 4rem;
		background: #A91B23;

		@media #{$sm} {
			width: 3rem;
		}
	}
}



// custom_select -----------

.custom_select {
    width: 100%;
    position: relative;	

    .select_btn {
        font-family: $heeboFont;
        font-size: 1.4rem;
        font-weight: 400;
        color: #D4D4D4;
        width: 100%;
        height: 4.4rem;
        background: #262626;
        border: 1px solid #353535;
        padding-left: 1rem;
        padding-right: 1.2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        .arrow {
            transition: 0.2s all ease;

            img {
                width: 2rem;
            }
        }

		.border_tl {
			width: 0.4rem;
			height: 0.6rem;
			border-top: 1px solid #A11B1B;
			border-left: 1px solid #A11B1B;
			position: absolute;
			left: -0.05rem;
			top: -0.05rem;
			transition: 0.2s all ease;
		}

		.border_tr {
			width: 0.4rem;
			height: 0.6rem;
			border-top: 1px solid #A11B1B;
			border-right: 1px solid #A11B1B;
			position: absolute;
			right: -0.05rem;
			top: -0.05rem;
			transition: 0.2s all ease;
		}

		.border_bl {
			width: 0.4rem;
			height: 0.6rem;
			border-bottom: 1px solid #A11B1B;
			border-left: 1px solid #A11B1B;
			position: absolute;
			left: -0.05rem;
			bottom: -0.05rem;
			transition: 0.2s all ease;
		}

		.border_br {
			width: 0.4rem;
			height: 0.6rem;
			border-bottom: 1px solid #A11B1B;
			border-right: 1px solid #A11B1B;
			position: absolute;
			right: -0.05rem;
			bottom: -0.05rem;
			transition: 0.2s all ease;
		}

		&:focus {
			border-color: #3F1717;
		}
    }

    .select_dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        max-height: 25rem;
        overflow: auto;
        background: #666666;
        border: 1px solid #7E7E7E;
        margin-top: 1rem;
        display: none;
        z-index: 2026;

        li {
            font-family: $heeboFont;
            font-size: 1.4rem;
            font-weight: 400;
            color: #E0E0E0;
            line-height: 132%;
            padding: 1rem 1.2rem;
			border-bottom: 1px solid #7E7E7E;
            text-align: right;
            cursor: pointer;
            transition: 0.2s all ease;

			&:last-child {
				border-bottom: none;
			}

            &:hover {
                background: #F02731;
				color: #FFF;
            }
        }
    }

    &.open {
        .arrow {
            transform: rotate(180deg);
        }

        .select_dropdown {
            display: block;
        }
    }
}



// custom calender -----------

.calendar-wrapper {
    position: relative;

	.calendar-input {
		font-family: $heeboFont;
        font-size: 1.4rem;
        font-weight: 400;
        color: #D4D4D4;
        width: 100%;
        height: 4.4rem;
        background: #262626;
        border: 1px solid #353535;
        padding-left: 1rem;
        padding-right: 1.2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        .calendar-arrow {
            transition: 0.2s all ease;

            img {
                width: 2rem;
            }
        }

		.border_tl {
			width: 0.4rem;
			height: 0.6rem;
			border-top: 1px solid #A11B1B;
			border-left: 1px solid #A11B1B;
			position: absolute;
			left: -0.05rem;
			top: -0.05rem;
			transition: 0.2s all ease;
		}

		.border_tr {
			width: 0.4rem;
			height: 0.6rem;
			border-top: 1px solid #A11B1B;
			border-right: 1px solid #A11B1B;
			position: absolute;
			right: -0.05rem;
			top: -0.05rem;
			transition: 0.2s all ease;
		}

		.border_bl {
			width: 0.4rem;
			height: 0.6rem;
			border-bottom: 1px solid #A11B1B;
			border-left: 1px solid #A11B1B;
			position: absolute;
			left: -0.05rem;
			bottom: -0.05rem;
			transition: 0.2s all ease;
		}

		.border_br {
			width: 0.4rem;
			height: 0.6rem;
			border-bottom: 1px solid #A11B1B;
			border-right: 1px solid #A11B1B;
			position: absolute;
			right: -0.05rem;
			bottom: -0.05rem;
			transition: 0.2s all ease;
		}

		&:focus {
			border-color: #3F1717;
		}
	}

	.calendar-dropdown {
		position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        overflow: auto;
        background: #666666;
        border: 1px solid #7E7E7E;
		padding: 1.2rem 1rem;
		border-radius: 0.5rem;
        margin-top: 1rem;
        display: none;
        z-index: 2030;

		@media #{$md} {
			padding: 1.2rem 0.6rem;
		}

		.calendar-header {
			font-family: $heeboFont;
			font-size: 1.35rem;
			font-weight: 700;
			color: #F2F2F2;
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 1.2rem;

			.month-year {
				font-weight: 700;
			}

			.cal-arrow {
				font-family: $primaryFont;
				width: 1.6rem;
				height: 1.6rem;
				display: flex;
				align-items: center;
				justify-content: center;
				background: none;
				border: none;
				outline: none;
				font-size: 2.2rem;
				font-weight: 500;
				color: #F02731;
				cursor: pointer;
			}
		}

		.calendar-days {
			font-family: $heeboFont;
			font-size: 0.85rem;
			font-weight: 400;
			color: #FEE9EA;
			display: grid;
			grid-template-columns: repeat(7, 1fr);
			text-align: center;
			margin-bottom: 0.6rem;
		}

		.calendar-dates {
			display: grid;
			grid-template-columns: repeat(7, 1fr);
			gap: 0.4rem;

			span {
				font-family: $heeboFont;
				font-size: 1.1rem;
				font-weight: 400;
				color: #F2F2F2;
				text-align: center;
				display: inline-block;
				padding: 0.4rem;
				cursor: pointer;

				&:hover {
					background: #F02731;
					color: #FFF;
				}

				&.muted {
					opacity: 0.5;
					pointer-events: none;
				}

				@media #{$md} {
					padding: 0.4rem 0.1rem;
				}
			}
		}
	}

	&.open {
		.calendar-arrow {
			transform: rotate(180deg);
		}
	}
}


// copy clipboard --------
.copy_btn {
	img {
		width: 2rem;
	}

	&.copied {
		opacity: 0.6;
		pointer-events: none;
	}
}



//  custom_checkBox --------------

.custom_checkBox {
	display: flex;
	align-items: center;
	gap: 0.8rem;

	.form-check-input {
		width: 1.5rem;
		height: 1.5rem;
		background: transparent;
		border: 1px solid #FFFFFF;
		display: block;
		border-radius: 0.3rem;
		margin: 0;
		cursor: pointer;
		user-select: none;
		flex-shrink: 0;

		&:focus {
			border-color: #FFF;
			outline: 0;
			box-shadow: none;
		}

		&:checked[type="checkbox"] {
			background-image: url(../img/check-white.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 0.8rem;
			background-color: transparent;
			border-color: #FFF;
		}
	}

	label {
		font-family: $heeboFont;
		font-size: 1.4rem;
		font-weight: 400;
		color: rgba(255, 255, 255, 0.80);
		width: 100%;
		display: flex;
		align-items: center;
		gap: 0.8rem;
		text-align: right;
		cursor: pointer;
		margin: 0;

		img {
			width: 2rem;
			height: 2rem;
			object-fit: cover;
		}
	}
}



// page title ----------------

.page_title {
	padding-bottom: 5.2rem;
	text-align: center;

	h2 {
		font-size: 4.8rem;
		font-weight: 700;
		line-height: 110%;
		letter-spacing: 0.3rem;
		color: #FFFFFF;
		display: inline-block;
		text-align: center;
		padding-bottom: 1.2rem;
		border-bottom: 1px solid #68181C;
		-webkit-text-stroke: 0.3px #F02731;
		position: relative;

		&::after {
			content: "";
			width: 100%;
			height: 1px;
			display: block;
			background: #68181C;
			margin: 0 auto;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: -0.5rem;
		}

		@media #{$md} {
			font-size: 3.8rem;
			letter-spacing: 0.2rem;
			-webkit-text-stroke: 0.2px #F02731;
		}

		@media #{$sm} {
			font-size: 3rem;
		}
	}

	@media #{$sm} {
		padding-bottom: 4rem;
	}
}

