.loginCard_section {
    padding: 8rem 0;
    align-items: flex-start;
    justify-content: flex-start;

    @media #{$sm} {
        padding: 6rem 0rem;
    }

    .login_card_warpper {
        max-width: 115.5rem;
        width: 100%;
        margin: 0 auto;
        position: relative;
        z-index: 999;

        .wrapper_top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 4.2rem;

            .login_title_box {

                h3 {
                    padding-bottom: 1.4rem;
                    

                    a {
                        font-size: 4.8rem;
                        font-weight: 700;
                        line-height: 1;
                        color: #f5f5f5;
                        border-bottom: 0.2rem solid #F5F5F5;

                        @media #{$sm} {
                            font-size: 4rem;
                        }
                    }
                }

                p {
                    font-size: 2rem;
                    font-family: $heeboFont;
                    font-weight: 400;
                    line-height: 1.60;
                    color: #ffffffcc;

                    @media #{$sm} {
                        font-size: 1.8rem;
                    }
                }

                @media #{$md} {
                    width: 100%;
                    padding-bottom: 2rem;
                }
            }

            .search_input_box {
                position: relative;
                width: 33rem;

                .button {
                    max-width: 2rem;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: transparent;
                    border: none;
                    outline: none;
                    margin-right: 0.3rem;


                    img {
                        width: 2rem;
                    }
                }

                .search_input {
                    width: 100%;
                    height: 4.4rem;
                    position: relative;

                    input {
                        width: 33rem;
                        height: 4.4rem;
                        display: block;
                        font-size: 1.4rem;
                        font-family: $heeboFont;
                        font-weight: 400;
                        line-height: 1.4;
                        background: #212121;
                        color: #D3D3D3;
                        border: 1px solid #303030;
                        padding: 0.5rem 4rem;
                        outline: none;

                        &::placeholder {
                            color: #D3D3D3;
                            opacity: 1;
                        }

                        &:focus {
                            border-color: #3F1717;
                        }
                    }

                    .border_tl {
                        width: 1.1rem;
                        height: 0.6rem;
                        border-top: 1px solid #a11b1b;
                        border-left: 1px solid #a11b1b;
                        position: absolute;
                        left: -0.05rem;
                        top: -0.05rem;
                        transition: 0.2s all ease;
                    }

                    .border_tr {
                        width: 1.1rem;
                        height: 0.6rem;
                        border-top: 1px solid #a11b1b;
                        border-right: 1px solid #a11b1b;
                        position: absolute;
                        right: -0.05rem;
                        top: -0.05rem;
                        transition: 0.2s all ease;
                    }

                    .border_bl {
                        width: 1.1rem;
                        height: 0.6rem;
                        border-bottom: 1px solid #a11b1b;
                        border-left: 1px solid #a11b1b;
                        position: absolute;
                        left: -0.05rem;
                        bottom: -0.05rem;
                        transition: 0.2s all ease;
                    }

                    .border_br {
                        width: 1.1rem;
                        height: 0.6rem;
                        border-bottom: 1px solid #a11b1b;
                        border-right: 1px solid #a11b1b;
                        position: absolute;
                        right: -0.05rem;
                        bottom: -0.05rem;
                        transition: 0.2s all ease;
                    }
                }
            }

            @media #{$md} {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        .row {
            --bs-gutter-x: 2rem;
            --bs-gutter-y: 2rem;

            .login_card {
                a {
                    display: block;
                }
                .card_img {
                    position: relative;
                    margin-bottom: 1.6rem;
                    border: 1px solid #3A1212;


                    img {
                        width: 100%;
                    }

                    .border_tl {
                        width: 0.6rem;
                        height: 0.6rem;
                        border-top: 1px solid #a11b1b;
                        border-left: 1px solid #a11b1b;
                        position: absolute;
                        left: -0.05rem;
                        top: -0.05rem;
                        transition: 0.2s all ease;
                    }

                    .border_tr {
                        width: 0.6rem;
                        height: 0.6rem;
                        border-top: 1px solid #a11b1b;
                        border-right: 1px solid #a11b1b;
                        position: absolute;
                        right: -0.05rem;
                        top: -0.05rem;
                        transition: 0.2s all ease;
                    }

                    .border_bl {
                        width: 0.6rem;
                        height: 0.6rem;
                        border-bottom: 1px solid #a11b1b;
                        border-left: 1px solid #a11b1b;
                        position: absolute;
                        left: -0.05rem;
                        bottom: -0.05rem;
                        transition: 0.2s all ease;
                    }

                    .border_br {
                        width: 0.6rem;
                        height: 0.6rem;
                        border-bottom: 1px solid #a11b1b;
                        border-right: 1px solid #a11b1b;
                        position: absolute;
                        right: -0.05rem;
                        bottom: -0.05rem;
                        transition: 0.2s all ease;
                    }
                }

                p {
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.30;
                    color: #ffffff;
                    text-transform: uppercase;

                    @media #{$sm} {
                        font-size: 2rem;
                    }
                }

                &.active {
                    .card_img {
                        border-color: #F02731;
                        position: relative;

                        span {
                            border-color: transparent;
                        }
                    }

                    .card_text {
                        color: #F02731;
                    }
                }
            }
        }

        .login_card_buttton {
            max-width: 35rem;
            margin: 0 auto;
            margin-top: 4.6rem;

            .form_submit_button {
                width: 100%;
                position: relative;
                display: flex;
                justify-content: center;
                gap: 0.8rem;
                font-size: 1.6rem;
                font-family: $primaryFont;
                font-weight: 400;
                line-height: 1.20;
                background: #f02731;
                color: #f9f9ff;
                padding: 1.2rem 2rem;
                border: none;
                outline: none;

                img {
                    width: 2rem;
                }

                .border_tl {
                    width: 1.4rem;
                    height: 0.8rem;
                    border-top: 1px solid #FFFFFF;
                    border-left: 1px solid #FFFFFF;
                    position: absolute;
                    left: -0.05rem;
                    top: -0.05rem;
                    transition: 0.2s all ease;
                }

                .border_tr {
                    width: 1.4rem;
                    height: 0.8rem;
                    border-top: 1px solid #FFFFFF;
                    border-right: 1px solid #FFFFFF;
                    position: absolute;
                    right: -0.05rem;
                    top: -0.05rem;
                    transition: 0.2s all ease;
                }

                .border_bl {
                    width: 1.4rem;
                    height: 0.8rem;
                    border-bottom: 1px solid #FFFFFF;
                    border-left: 1px solid #FFFFFF;
                    position: absolute;
                    left: -0.05rem;
                    bottom: -0.05rem;
                    transition: 0.2s all ease;
                }

                .border_br {
                    width: 1.4rem;
                    height: 0.8rem;
                    border-bottom: 1px solid #FFFFFF;
                    border-right: 1px solid #FFFFFF;
                    position: absolute;
                    right: -0.05rem;
                    bottom: -0.05rem;
                    transition: 0.2s all ease;
                }

                &:hover {
                    span {
                        border-color: #FDE9BC;
                        transform: scale(1.15);
                    }
                }
            }
        }
    }
}