.signup_team_section {
    .signup_team_wrapper {
        max-width: 88.8rem;
        margin: 0 auto;
        text-align: center;
        position: relative;
        z-index: 1111;

        .enter_title {
            font-size: 4.8rem;
            font-weight: 700;
            line-height: 1;
            color: #f5f5f5;
            padding-bottom: 6rem;

            @media #{$md} {
                font-size: 3.2rem;
                padding-bottom: 4.6rem;
            }
        }

        .row {
            --bs-gutter-x: 2.4rem;
            --bs-gutter-y: 2.4rem;
            padding-bottom: 2.3rem;

            a {
                .signup_team_item {
                    background: #080808;
                    width: 100%;
                    position: relative;
                    padding: 6rem 0;
                    border: 1px solid #2B0F13;

                    .item_shape01 {
                        position: absolute;
                        top: 0;
                        right: 0;

                        img {
                            width: 100%;
                        }
                    }

                    .item_main {
                        position: relative;
                        z-index: 11;

                        .main_icon {
                            padding-bottom: 3.2rem;

                            img {
                                width: 8.5rem;

                                @media #{$md} {
                                    width: 6.5rem;
                                }
                            }

                            @media #{$md} {
                                padding: 2rem;
                            }
                        }

                        .cng_width {
                            img {
                                width: 8rem;

                                @media #{$md} {
                                    width: 6rem;
                                }
                            }
                        }

                        h3 {
                            font-size: 2.4rem;
                            font-weight: 700;
                            line-height: 1.30;
                            color: #f5f5f5;
                        }
                    }

                    .item_shape02 {
                        position: absolute;
                        left: 0;
                        bottom: 0;

                        img {
                            width: 100%;
                        }
                    }

                    .border_tl {
                        width: 1.3rem;
                        height: 0.5rem;
                        border-top: 1px solid transparent;
                        border-left: 1px solid transparent;
                        position: absolute;
                        left: -0.05rem;
                        top: -0.05rem;
                        transition: 0.2s all ease;
                    }

                    .border_tr {
                        width: 1.3rem;
                        height: 0.5rem;
                        border-top: 1px solid transparent;
                        border-right: 1px solid transparent;
                        position: absolute;
                        right: -0.05rem;
                        top: -0.05rem;
                        transition: 0.2s all ease;
                    }

                    .border_bl {
                        width: 1.3rem;
                        height: 0.5rem;
                        border-bottom: 1px solid transparent;
                        border-left: 1px solid transparent;
                        position: absolute;
                        left: -0.05rem;
                        bottom: -0.05rem;
                        transition: 0.2s all ease;
                    }

                    .border_br {
                        width: 1.3rem;
                        height: 0.5rem;
                        border-bottom: 1px solid transparent;
                        border-right: 1px solid transparent;
                        position: absolute;
                        right: -0.05rem;
                        bottom: -0.05rem;
                        transition: 0.2s all ease;
                    }

                    .right_shape {
                        width: 1rem;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        opacity: 0;

                        img {
                            width: 100%;
                        }
                    }

                    &.active {
                        border-color: #831111;

                        .border_tl,
                        .border_tr,
                        .border_bl,
                        .border_br {
                            border-color: #D9232C;
                        }

                        .right_shape {
                            opacity: 1;
                        }
                    }

                    @media #{$md} {
                        width: 22rem;
                        height: 22rem;
                        padding: 4rem 0;
                    }

                    @media #{$sm} {
                        max-width: 32rem;
                        width: 100%;
                        height: 100%;
                        padding: 6rem 0;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }

            @media #{$md} {
                --bs-gutter-x: 1.5rem;
                --bs-gutter-y: 1.5rem;
            }
        }

        .skip_button {
            a {
                font-size: 2rem;
                font-family: $heeboFont;
                font-weight: 500;
                line-height: 1.50;
                color: #F9F9FF;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 0.6rem;

                img {
                    width: 2.4rem;
                }

                &:hover {
                    opacity: 0.85;
                }

                @media #{$sm} {
                    justify-content: center;
                }
            }

        }


    }
}