// signup page ------------------
.signup_form_section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8.5rem 0;
    position: relative;
    overflow: hidden;

    @media #{$sm} {
        padding: 5.4rem 0rem;
    }

    .section_bg_shape01 {
        position: absolute;
        top: 12.1rem;
        left: 50%;
        transform: translateX(-50%);

        img {
            width: 93.7rem;

            @media #{$md} {
                width: 65rem;
            }

            @media #{$sm} {
                width: 35rem;
            }
        }
    }

    .signup_form {
        max-width: 43rem;
        width: 100%;
        margin: 0 auto;
        background: #080808;
        border: 1px solid #2c131980;
        padding: 3.4rem 4rem;
        text-align: center;
        z-index: 999;
        position: relative;

        @media #{$sm} {
            padding: 2.4rem 1.6rem;
        }

        .form_wrapper {
            position: relative;
            z-index: 9;
        }

        .form_shape01 {
            position: absolute;
            right: 0;
            top: 0;

            img {
                width: 24.6rem;
            }
        }

        .form_shape02 {
            position: absolute;
            left: 0;
            bottom: 0;

            img {
                width: 25.5rem;
            }
        }

        .form_title_box {
            padding-bottom: 2rem;

            .form_title {
                font-size: 4.8rem;
                font-weight: 700;
                line-height: 1;
                color: #f5f5f5;
                padding-bottom: 1.6rem;

                @media #{$sm} {
                    font-size: 3.2rem;
                }
            }

            .form_subtitle {
                font-size: 2rem;
                font-family: $heeboFont;
                font-weight: 400;
                line-height: 1.50;
                color: #ffffffcc;

                a {
                    color: #ff0000;
                }
            }
        }

        .form_button_group {
            padding-bottom: 0.8rem;

            .form_button {
                width: 100%;
                position: relative;
                font-size: 1.6rem;
                font-family: $primaryFont;
                font-weight: 400;
                line-height: 1.20;
                background: #281415;
                border: 1px solid #3E2B2C;
                color: #F9F9FF;
                padding: 1.1rem 3rem;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.8rem;
                outline: none;
                margin-bottom: 0.8rem;


                img {
                    width: 2rem;
                }

                .border_tl {
                    width: 1.4rem;
                    height: 0.8rem;
                    border-top: 1px solid #FFFFFF;
                    border-left: 1px solid #FFFFFF;
                    position: absolute;
                    left: -0.05rem;
                    top: -0.05rem;
                    transition: 0.2s all ease;
                }

                .border_tr {
                    width: 1.4rem;
                    height: 0.8rem;
                    border-top: 1px solid #FFFFFF;
                    border-right: 1px solid #FFFFFF;
                    position: absolute;
                    right: -0.05rem;
                    top: -0.05rem;
                    transition: 0.2s all ease;
                }

                .border_bl {
                   width: 1.4rem;
                    height: 0.8rem;
                    border-bottom: 1px solid #FFFFFF;
                    border-left: 1px solid #FFFFFF;
                    position: absolute;
                    left: -0.05rem;
                    bottom: -0.05rem;
                    transition: 0.2s all ease;
                }

                .border_br {
                    width: 1.4rem;
                    height: 0.8rem;
                    border-bottom: 1px solid #FFFFFF;
                    border-right: 1px solid #FFFFFF;
                    position: absolute;
                    right: -0.05rem;
                    bottom: -0.05rem;
                    transition: 0.2s all ease;
                }

                &:hover {
                    span {
                        border-color: #F02731;
                    }
                }
            }

        }

        .option_title {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.8rem;
            padding-bottom: 0.8rem;

            img {
                width: 8.4rem;
            }

            h4 {
                font-size: 1.4rem;
                font-family: $heeboFont;
                font-weight: 500;
                line-height: 1.60;
                color: #CECECE;
            }
        }

        .input_box {
            text-align: right;
            padding-bottom: 0.9rem;

            label {
                font-size: 1.4rem;
                font-family: $heeboFont;
                font-weight: 500;
                line-height: 1.42;
                color: #CECECE;
                padding-bottom: 0.4rem;
            }

            .input_field {
                position: relative;

                input {
                    width: 100%;
                    height: 4.4rem;
                    display: block;
                    font-size: 1.4rem;
                    font-family: $heeboFont;
                    font-weight: 400;
                    line-height: 1.4;
                    background: #212121;
                    color: #D3D3D3;
                    text-align: right;
                    border: 1px solid #303030;
                    padding: 0.5rem 1.2rem;

                    &::placeholder {
                        color: #D3D3D3;
                        opacity: 1;
                    }

                    &:focus {
                        border-color: #3F1717;
                    }
                }

                .date_input {
                    direction: ltr;
                }

                .border_tl {
                    width: 0.8rem;
                    height: 0.6rem;
                    border-top: 1px solid #a11b1b;
                    border-left: 1px solid #a11b1b;
                    position: absolute;
                    left: -0.05rem;
                    top: -0.05rem;
                    transition: 0.2s all ease;
                }

                .border_tr {
                    width: 0.8rem;
                    height: 0.6rem;
                    border-top: 1px solid #a11b1b;
                    border-right: 1px solid #a11b1b;
                    position: absolute;
                    right: -0.05rem;
                    top: -0.05rem;
                    transition: 0.2s all ease;
                }

                .border_bl {
                    width: 0.8rem;
                    height: 0.6rem;
                    border-bottom: 1px solid #a11b1b;
                    border-left: 1px solid #a11b1b;
                    position: absolute;
                    left: -0.05rem;
                    bottom: -0.05rem;
                    transition: 0.2s all ease;
                }

                .border_br {
                    width: 0.8rem;
                    height: 0.6rem;
                    border-bottom: 1px solid #a11b1b;
                    border-right: 1px solid #a11b1b;
                    position: absolute;
                    right: -0.05rem;
                    bottom: -0.05rem;
                    transition: 0.2s all ease;
                }
            }

        }

        .check_box {
            display: flex;
            align-items: flex-start;
            padding: 0.6rem 0 2rem;
            gap: 0.8rem;

            .form-check-input {
                width: 1.85rem;
                height: 1.85rem;
                background: #212121;
                border: 1px solid #FFF;
                display: block;
                border-radius: 0.4rem;
                margin: 0;
                cursor: pointer;
                user-select: none;
                flex-shrink: 0;
                margin-top: 0.4rem;

                &:focus {
                    border-color: #FFF;
                    outline: 0;
                    box-shadow: none;
                }

                &:checked[type="checkbox"] {
                    background-image: url(../img/check-red.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 1.5rem;
                    background-color: #FFF;
                    border-color: transparent;
                }
            }

            label {
                font-size: 1.54rem;
                font-family: $heeboFont;
                font-weight: 400;
                line-height: 1.60;
                color: #ffffff;
                display: block;
                text-align: right;
                cursor: pointer;
            }
        }

        .form_submit_button {
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.8rem;
            font-size: 1.6rem;
            font-family: $primaryFont;
            font-weight: 400;
            line-height: 1.20;
            background: #f02731;
            color: #f9f9ff;
            padding: 1.2rem 2rem;
            border: none;
            outline: none;

            img {
                width: 2rem;
            }

            .border_tl {
                width: 1.4rem;
                height: 0.8rem;
                border-top: 1px solid #FFFFFF;
                border-left: 1px solid #FFFFFF;
                position: absolute;
                left: -0.05rem;
                top: -0.05rem;
                transition: 0.2s all ease;
            }

            .border_tr {
                width: 1.4rem;
                height: 0.8rem;
                border-top: 1px solid #FFFFFF;
                border-right: 1px solid #FFFFFF;
                position: absolute;
                right: -0.05rem;
                top: -0.05rem;
                transition: 0.2s all ease;
            }

            .border_bl {
                width: 1.4rem;
                height: 0.8rem;
                border-bottom: 1px solid #FFFFFF;
                border-left: 1px solid #FFFFFF;
                position: absolute;
                left: -0.05rem;
                bottom: -0.05rem;
                transition: 0.2s all ease;
            }

            .border_br {
                width: 1.4rem;
                height: 0.8rem;
                border-bottom: 1px solid #FFFFFF;
                border-right: 1px solid #FFFFFF;
                position: absolute;
                right: -0.05rem;
                bottom: -0.05rem;
                transition: 0.2s all ease;
            }

            &:hover {
                span {
                    border-color: #FDE9BC;
                    transform: scale(1.15);
                }
            }
        }

    }

    .section_bg_shape02 {
        position: absolute;
        left: 0;
        bottom: 0;

        img {
            width: 68.7rem;

            @media #{$md} {
                width: 35rem;
            }

            @media #{$sm} {
                width: 30rem;
            }
        }
    }

    .section_bg_shape03 {
        position: absolute;
        right: 0;
        bottom: 0;

        img {
            width: 67.5rem;

            @media #{$md} {
                width: 35rem;
            }

            @media #{$sm} {
                width: 30rem;
            }
        }
    }
}




// login page -------------------
.login_form_section {
    padding: 12rem 0;

    @media #{$md} {
        padding: 8.5rem 0rem;
    }

    @media #{$sm} {
        padding: 6rem 0rem;
    }

    .login_form {
        padding: 8.2rem 4rem;

        @media #{$sm} {
            padding: 5rem 1.6rem;
        }

        .form_title_box {
            .form_subtitle {
                text-align: center;
                padding: 0;
            }
        }

        .form_submit_button {
            margin: 2rem 0;
        }

        .forget_text {
            text-align: right;
            padding-bottom: 2rem;

            a {
                font-size: 1.6rem;
                font-family: $heeboFont;
                font-weight: 400;
                line-height: 1.60;
                color: #f02731;
            }
            
        }

        .option_title {
            padding-bottom: 1.6rem;
        }
    }
}



// password page -------------------
.password_from_section {
    .password_from {
        padding: 4.8rem 4rem;

        @media #{$sm} {
            padding: 4rem 2rem;
        }

        .input_box {
            margin-bottom: 2rem;
        }

        .form_submit_button {
            margin-bottom: 1.6rem;
        }

        .back_button {
            font-size: 1.6rem;
            font-family: $heeboFont;
            font-weight: 500;
            line-height: 1.60;
            background: transparent;
            color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            display: inline-block;
            gap: 0.8rem;
            border: none;
            outline: none;

            img {
                width: 2rem;
                transition: 0.25s all ease;
            }

            &:hover {
                img {
                    transform: translateX(0.6rem);
                }
            }
        }
    }

}



// Verification page -------------------
.verification_section {
    .signup_form {
        padding: 6rem 4rem;

        @media #{$sm} {
            padding: 4rem 2rem;
        }

        .verification_inputs {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2.1rem;
            padding-bottom: 2rem;

            .code_input {
                position: relative;
                width: 4.6rem;
                height: 4.6rem;

                input {
                    width: 4.6rem;
                    height: 4.6rem;
                    background: #282222;
                    border: 1px solid #343030;
                    display: block;
                    padding: 0.5rem 1rem;
                    outline: none;
                    font-size: 1.5rem;
                    font-family: $heeboFont;
                    font-weight: 400;
                    line-height: 1.4;
                    color: #D3D3D3;

                    &::placeholder {
                        color: #D3D3D3;
                        opacity: 1;
                    }
                }

                .border_tl {
                    width: 0.6rem;
                    height: 0.5rem;
                    border-top: 1px solid #a11b1b;
                    border-left: 1px solid #a11b1b;
                    position: absolute;
                    left: -0.05rem;
                    top: -0.05rem;
                    transition: 0.2s all ease;
                }

                .border_tr {
                    width: 0.6rem;
                    height: 0.5rem;
                    border-top: 1px solid #a11b1b;
                    border-right: 1px solid #a11b1b;
                    position: absolute;
                    right: -0.05rem;
                    top: -0.05rem;
                    transition: 0.2s all ease;
                }

                .border_bl {
                    width: 0.6rem;
                    height: 0.5rem;
                    border-bottom: 1px solid #a11b1b;
                    border-left: 1px solid #a11b1b;
                    position: absolute;
                    left: -0.05rem;
                    bottom: -0.05rem;
                    transition: 0.2s all ease;
                }

                .border_br {
                    width: 0.6rem;
                    height: 0.5rem;
                    border-bottom: 1px solid #a11b1b;
                    border-right: 1px solid #a11b1b;
                    position: absolute;
                    right: -0.05rem;
                    bottom: -0.05rem;
                    transition: 0.2s all ease;
                }
            }

        }
    }
}



// set password page -------------------
.set_password_section {
    .password_from {
        padding: 3.2rem 4rem;

        @media #{$sm} {
            padding: 3.2rem 2rem;
        }

        .input_box {
            margin: 0;
            margin-bottom: 0.9;
        }

        .form_submit_button {
            margin-top: 1.2rem;
        }

    }
}



// Success page -------------------
.success_section {
    .signup_form {
        padding: 7.5rem 4rem;

        @media #{$sm} {
            padding: 6rem 2rem;
        }

        .success_icon {
            padding-bottom: 2.4rem;

            img {
                width: 10rem;
            }
        }
    }

}