// team page ------------------
.team_section {
    padding: 10rem 0rem;

    .team_title {
        margin-bottom: 2.4rem;
        
        a {
            font-family: $heeboFont;
            font-size: 2rem;
            font-weight: 500;
            line-height: 150%;
            color: #F9F9FF;
            display: inline-flex;
            gap: 0.6rem;

            img {
                width: 2.4rem;
            }

            @media #{$sm} {
                font-size: 1.9rem;
            }
        }

        h2 {
            font-size: 4.8rem;
            font-weight: 700;
            color: #F5F5F5;
            line-height: 115%;
            margin-top: 2.4rem;
            margin-bottom: 1.6rem;

            @media #{$md} {
                font-size: 3.8rem;
                margin-top: 2rem;
                margin-bottom: 1rem;
            }

            @media #{$sm} {
                font-size: 3rem;
                margin-top: 1.6rem;
                margin-bottom: 0.8rem;
            }
        }

        p {
            font-family: $heeboFont;
            font-size: 2rem;
            font-weight: 400;
            line-height: 150%;
            color: #CFCFCF;

            @media #{$sm} {
                font-size: 1.8rem;
            }
        }
    }
    
    .team_wrapper {
        background: #080808;
        border: 1px solid #1A0D10;
    }
    
    .upload_wrapper {
        background: #150B0B;
        box-shadow: -4.5rem -1.4rem 5.4rem rgba(255, 26, 26, 0.12) inset;

        .upload-content {
            width: 100%;
            padding: 3.2rem 2.4rem 3.8rem;
            display: flex;
            align-items: center;
            gap: 3rem;
            cursor: pointer;

            @media #{$sm} {
                padding: 3rem 1.6rem;
                gap: 1.5rem;
            }

            img {
                max-height: 8rem;
            }

            .logo_upload {
                span {
                    width: 6rem;
                    height: 6rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    background: #D9D9D9;
                    border: 1px solid #F60606;
                    margin-bottom: 1.2rem;

                    img {
                        width: 2.4rem;
                    }
                }

                p {
                    font-family: $heeboFont;
                    font-size: 1.4rem;
                    font-weight: 500;
                    color: #D2CECE;
                }
            }

            .cover_photo_upload {
                margin: auto;
                display: flex;
                align-items: center;
                gap: 1rem;
                padding-left: 20rem;

                p {
                    font-family: $heeboFont;
                    font-size: 1.4rem;
                    font-weight: 400;
                    color: #D0CECE;
                }

                img {
                    width: 2.4rem;
                }

                @media #{$sm} {
                    padding-left: 1rem;
                }
            }
        }
    }


    // team_content 
    .team_content {
        padding: 4.8rem 2.4rem 3.2rem;

        @media #{$sm} {
            padding: 3rem 1.6rem;
        }

        .row {
            --bs-gutter-x: 2rem;
            --bs-gutter-y: 1.8rem;
        }
    }

    .team_item {
        h4 {
            font-family: $heeboFont;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.6;
            color: #CECECE;
            margin-bottom: 0.6rem;
        }

        .social_item {
            display: flex;
            align-items: center;
            gap: 1.4rem;
            padding: 0.8rem 0rem 1.6rem;

            .social_box {
                width: 4.6rem;
                height: 4.6rem;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #212121;
                border: 1px solid #303030;
                position: relative;
                transition: 0.2s all ease;

                img {
                    width: 2rem;
                }

                .border_tl {
                    width: 0.8rem;
                    height: 0.6rem;
                    border-top: 1px solid #a11b1b;
                    border-left: 1px solid #a11b1b;
                    position: absolute;
                    left: -0.1rem;
                    top: -0.1rem;
                    transition: 0.2s all ease;
                }

                .border_tr {
                    width: 0.8rem;
                    height: 0.6rem;
                    border-top: 1px solid #a11b1b;
                    border-right: 1px solid #a11b1b;
                    position: absolute;
                    right: -0.1rem;
                    top: -0.1rem;
                    transition: 0.2s all ease;
                }

                .border_bl {
                    width: 0.8rem;
                    height: 0.6rem;
                    border-bottom: 1px solid #a11b1b;
                    border-left: 1px solid #a11b1b;
                    position: absolute;
                    left: -0.1rem;
                    bottom: -0.1rem;
                    transition: 0.2s all ease;
                }

                .border_br {
                    width: 0.8rem;
                    height: 0.6rem;
                    border-bottom: 1px solid #a11b1b;
                    border-right: 1px solid #a11b1b;
                    position: absolute;
                    right: -0.1rem;
                    bottom: -0.1rem;
                    transition: 0.2s all ease;
                }

                &:hover {
                    border-color: #3F1717;

                    span {
                        transform: scale(1.2);
                    }
                }
            }
        }

        .sponsor_item {
            display: flex;
            align-items: center;
            gap: 0.8rem;
            padding-bottom: 3rem;

            a {
                width: 18.1rem;
                height: 6.2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #212121;
                position: relative;

                @media #{$sm} {
                    height: 5rem;
                }

                img {
                    width: 7.8rem;

                    @media #{$sm} {
                        width: 5.5rem;
                    }
                }

                .sponsor1 {
                    width: 14.1rem;

                    @media #{$sm} {
                        width: 8.5rem;
                    }
                }

                .border_tl {
                    width: 2.2rem;
                    height: 1rem;
                    border-top: 1px solid #651418;
                    border-left: 1px solid #651418;
                    position: absolute;
                    left: -0.05rem;
                    top: -0.05rem;
                    transition: 0.2s all ease;
                }

                .border_tr {
                    width: 2.2rem;
                    height: 1rem;
                    border-top: 1px solid #651418;
                    border-right: 1px solid #651418;
                    position: absolute;
                    right: -0.05rem;
                    top: -0.05rem;
                    transition: 0.2s all ease;
                }

                .border_bl {
                    width: 2.2rem;
                    height: 1rem;
                    border-bottom: 1px solid #651418;
                    border-left: 1px solid #651418;
                    position: absolute;
                    left: -0.05rem;
                    bottom: -0.05rem;
                    transition: 0.2s all ease;
                }

                .border_br {
                    width: 2.2rem;
                    height: 1rem;
                    border-bottom: 1px solid #651418;
                    border-right: 1px solid #651418;
                    position: absolute;
                    right: -0.05rem;
                    bottom: -0.05rem;
                    transition: 0.2s all ease;
                }

                &:hover {
                    span {
                        border-color: #F02731;
                    }
                }
            }
        }
    }

    @media #{$md} {
        padding: 5rem 0rem 0rem;
    }

    @media #{$sm} {
        padding: 3rem 0rem 0rem;
    }

}



// invite page ------------------

.invite_box {
    background: #080808;
    padding: 6rem 6rem;

    @media #{$md} {
        padding: 4rem 3rem;
    }

    @media #{$sm} {
        padding: 3rem 1.5rem;
    }

    .invite_title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 3.8rem;
        border-bottom: 1px solid #212121;

        @media #{$sm} {
            padding-bottom: 2.4rem;
        }

        h2 {
            color: #F5F5F5;
            letter-spacing: 0.05rem;

            @media #{$sm} {
                font-size: 2.6rem;
            }
        }

        a {
            font-family: $heeboFont;
            font-size: 2rem;
            font-weight: 500;
            color: #F9F9FF;
            display: inline-flex;
            align-items: center;
            gap: 0.6rem;

            img {
                width: 2.4rem;
            }

            @media #{$sm} {
                font-size: 1.8rem;
                gap: 0.4rem;

                img {
                    width: 2.2rem;
                }
            }
        }
    }

    .invite_wraper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2.4rem 0rem;
        border-bottom: 1px solid #212121;

        @media #{$sm} {
            padding: 2rem 0rem;
            flex-direction: column;
            align-items: start;
            gap: 2rem;
        }

        .invite_item {
            display: flex;
            align-items: center;
            gap: 2rem;

            @media #{$sm} {
                gap: 1.2rem;
            }

            img {
                width: 7rem;

                @media #{$sm} {
                    width: 5rem;
                }
            }

            .invite_text {
                h4 {
                    font-family: $heeboFont;
                    font-size: 2rem;
                    font-weight: 500;
                    color: #F9F9FF;
                    margin-bottom: 0.4rem;

                    @media #{$sm} {
                        font-size: 1.8rem;
                    }
                }

                p {
                    font-family: $heeboFont;
                    font-size: 1.6rem;
                    font-weight: 400;
                    color: #F9F9FF;

                    @media #{$sm} {
                        font-size: 1.45rem;
                    }

                    a {
                        color: #F02731;
                        text-decoration: underline;
                    }
                }
            }
        }

        .copy_btn {
            img {
                width: 2rem;
            }

            a.copied {
                opacity: 0.6;
                pointer-events: none;
            }
        }
    }

    .search_userbar {
        padding: 3.2rem 0rem;
        border-bottom: 1px solid #212121;

        @media #{$sm} {
            padding: 2.5rem 0rem;
        }
    }

    .friend_list {
        display: none;

        .friend_item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: 1px solid #212121;
            border-bottom: 1px solid #212121;
            padding: 1.6rem 0rem;

            .friend_text {
                display: flex;
                align-items: center;
                gap: 2rem;

                @media #{$sm} {
                    gap: 1.2rem;
                }

                img {
                    width: 5.4rem;
                    height: 5.4rem;
                    border-radius: 50%;

                    @media #{$sm} {
                        width: 4.6rem;
                        height: 4.6rem;
                    }
                }

                p {
                    font-family: $heeboFont;
                    font-size: 2.4rem;
                    font-weight: 500;
                    color: #F9F9FF;

                    @media #{$sm} {
                        font-size: 2rem;
                    }
                }
            }
        }
    }

    .friend_list.show {
        display: block;
    }

    .cancel_btn {
        background: #281415;
		border-color: #651418;

        span {
            border-color: #DA232D;
        }
    }
}

.continue_btn {
    padding-top: 4rem;
    text-align: center;

    @media #{$sm} {
        padding-top: 3rem;
    }
}

.success_title {
    padding: 0.6rem 0rem 3rem!important;
}
