// team page ------------------
.team_section {
    padding: 10rem 0rem;

    .team_title {
        margin-bottom: 2.4rem;
        
        a {
            font-family: $heeboFont;
            font-size: 2rem;
            font-weight: 500;
            line-height: 150%;
            color: #F9F9FF;
            display: inline-flex;
            gap: 0.6rem;

            img {
                width: 2.4rem;
            }
        }

        h2 {
            font-size: 4.8rem;
            font-weight: 700;
            color: #F5F5F5;
            line-height: 115%;
            margin-top: 2.4rem;
            margin-bottom: 1.6rem;
        }

        p {
            font-family: $heeboFont;
            font-size: 2rem;
            font-weight: 400;
            line-height: 150%;
            color: #CFCFCF;
        }
    }
    
    .team_wrapper {
        background: #080808;
        border: 1px solid #1A0D10;
    }
    
    .upload_wrapper {
        background: #150B0B;
        box-shadow: -4.5rem -1.4rem 5.4rem rgba(255, 26, 26, 0.12) inset;
        height: 16.4rem;
    }

    .team_content {
        padding: 4.8rem 2.4rem 3.2rem;

        .row {
            --bs-gutter-x: 2rem;
            --bs-gutter-y: 1.8rem;
        }
    }

    .team_item {
        h4 {
            font-family: $heeboFont;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.6;
            color: #CECECE;
            margin-bottom: 0.6rem;
        }

        .social_item {
            display: flex;
            align-items: center;
            gap: 1.4rem;
            padding: 0.8rem 0rem 1.6rem;

            .social_box {
                width: 4.6rem;
                height: 4.6rem;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #212121;
                border: 1px solid #303030;
                position: relative;
                transition: 0.2s all ease;

                img {
                    width: 2rem;
                }

                .border_tl {
                    width: 0.8rem;
                    height: 0.6rem;
                    border-top: 1px solid #a11b1b;
                    border-left: 1px solid #a11b1b;
                    position: absolute;
                    left: -0.1rem;
                    top: -0.1rem;
                    transition: 0.2s all ease;
                }

                .border_tr {
                    width: 0.8rem;
                    height: 0.6rem;
                    border-top: 1px solid #a11b1b;
                    border-right: 1px solid #a11b1b;
                    position: absolute;
                    right: -0.1rem;
                    top: -0.1rem;
                    transition: 0.2s all ease;
                }

                .border_bl {
                    width: 0.8rem;
                    height: 0.6rem;
                    border-bottom: 1px solid #a11b1b;
                    border-left: 1px solid #a11b1b;
                    position: absolute;
                    left: -0.1rem;
                    bottom: -0.1rem;
                    transition: 0.2s all ease;
                }

                .border_br {
                    width: 0.8rem;
                    height: 0.6rem;
                    border-bottom: 1px solid #a11b1b;
                    border-right: 1px solid #a11b1b;
                    position: absolute;
                    right: -0.1rem;
                    bottom: -0.1rem;
                    transition: 0.2s all ease;
                }

                &:hover {
                    border-color: #3F1717;

                    span {
                        transform: scale(1.2);
                    }
                }
            }
        }

        .sponsor_item {
            display: flex;
            align-items: center;
            gap: 0.8rem;
            padding-bottom: 3rem;

            a {
                width: 18.1rem;
                height: 6.2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #212121;
                position: relative;

                img {
                    width: 7.8rem;
                }

                .sponsor1 {
                    width: 14.1rem;
                }

                .border_tl {
                    width: 2.2rem;
                    height: 1rem;
                    border-top: 1px solid #651418;
                    border-left: 1px solid #651418;
                    position: absolute;
                    left: -0.05rem;
                    top: -0.05rem;
                    transition: 0.2s all ease;
                }

                .border_tr {
                    width: 2.2rem;
                    height: 1rem;
                    border-top: 1px solid #651418;
                    border-right: 1px solid #651418;
                    position: absolute;
                    right: -0.05rem;
                    top: -0.05rem;
                    transition: 0.2s all ease;
                }

                .border_bl {
                    width: 2.2rem;
                    height: 1rem;
                    border-bottom: 1px solid #651418;
                    border-left: 1px solid #651418;
                    position: absolute;
                    left: -0.05rem;
                    bottom: -0.05rem;
                    transition: 0.2s all ease;
                }

                .border_br {
                    width: 2.2rem;
                    height: 1rem;
                    border-bottom: 1px solid #651418;
                    border-right: 1px solid #651418;
                    position: absolute;
                    right: -0.05rem;
                    bottom: -0.05rem;
                    transition: 0.2s all ease;
                }

                &:hover {
                    span {
                        border-color: #F02731;
                    }
                }
            }
        }
    }

}
