// Font Family
$primaryFont: 'Cooperative';
$heeboFont: "Heebo", sans-serif;


// Colors
$white: #fff;
$black: #000;



// Responsive Variables
$xxl: '(min-width: 1450px)';
$xl : '(min-width: 1200px) and (max-width: 1449px)';
$lg : '(min-width: 992px) and (max-width: 1199px)';
$md:'(max-width: 991px)';
$sm:'(max-width: 767px)';
$xs: '(max-width: 575px)';


