// All scss file import here ------------

//======================== 
// Utilities
//======================== 

@import '_variables';

@import '_global';


//======================== 
// Commponents
//======================== 

@import '_header';

@import '_footer';

@import '_chat';


//======================== 
// pages
//======================== 

// Home ---------

@import '_index';


// Login ----------

@import '_signup';

@import '_signup-team';

@import '_login-card';


// Create Team -----------

@import '_create-team';


// Tournament -----------

@import 'tournament/_tournament';

@import 'tournament/_all-tournament';

@import 'tournament/_upcoming-games';

@import 'tournament/_recent-games';

@import 'tournament/_rating';



// My competitive Area  -----------

@import 'tournament/my-competitive-area/_my-tournaments';

@import 'tournament/my-competitive-area/_groups-created';

@import 'tournament/my-competitive-area/_my-groups-analytics';

@import 'tournament/my-competitive-area/_orders-and-requests';

@import 'tournament/my-competitive-area/_orders-and-requests-create-group';

