// matches page ------------------

.test_gameWraper {
    display: flex;
    align-items: center;
    gap: 4rem;

    @media #{$md} {
        gap: 2rem;
    }

    @media #{$sm} {
        flex-direction: column;
        align-items: flex-start;        
    }

    @media #{$xs} {
        .join_titleText p {
            font-size: 1.6rem;

            span {
                margin: 0 0.8rem;
            }
        }
    }

    .test_gameImg {
        flex-shrink: 0;

        img {
            width: 16rem;

            @media #{$md} {
                width: 12rem;
            }
        }
    }

    .join_titleText {
        width: 100%;

        .ended {
            background: #A11B1B;
            padding: 0.2rem 0.8rem;
        }
    }
}

// mathes_heading --------
.mathes_heading {
    background: #281415;
    padding: 1rem 1rem;
    margin-top: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 120%;
        color: #F5F6FF;
        display: inline-block;
        padding: 0.8rem 4.1rem;

        @media #{$sm} {
            font-size: 1.45rem;
            padding-left: 2.5rem;
            padding-right: 2.5rem;
        }
    }

    a {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 120%;
        color: #F5F6FF;
        display: inline-block;
        padding: 0.7rem 10rem;
        position: relative;
        background: #F02731;
        border: 1px solid #F23D46;
        transition: 0.2s all ease;

        @media #{$sm} {
            font-size: 1.45rem;
            padding-left: 3.6rem;
            padding-right: 3.6rem;
        }

        span {
            padding: 0;
        }

        .border_tl {
			width: 1.5rem;
			height: 0.5rem;
			border-top: 1px solid #FFFFFF;
			border-left: 1px solid #FFFFFF;
			position: absolute;
			left: -0.1rem;
			top: -0.1rem;
			transition: 0.2s all ease;
		}

		.border_tr {
			width: 1.5rem;
			height: 0.5rem;
			border-top: 1px solid #FFFFFF;
			border-right: 1px solid #FFFFFF;
			position: absolute;
			right: -0.1rem;
			top: -0.1rem;
			transition: 0.2s all ease;
		}

		.border_bl {
			width: 1.5rem;
			height: 0.5rem;
			border-bottom: 1px solid #FFFFFF;
			border-left: 1px solid #FFFFFF;
			position: absolute;
			left: -0.1rem;
			bottom: -0.1rem;
			transition: 0.2s all ease;
		}

		.border_br {
			width: 1.5rem;
			height: 0.5rem;
			border-bottom: 1px solid #FFFFFF;
			border-right: 1px solid #FFFFFF;
			position: absolute;
			right: -0.1rem;
			bottom: -0.1rem;
			transition: 0.2s all ease;
		}

        &:hover {
            span {
                transform: scale(1.25);
            }
        }
    }
}

// matches_title ---------
.matches_title {
    padding: 3.2rem 0rem 1.2rem;

    h3 {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 130%;
        color: #FFFFFF;
    }
}


// matches_row -----------
.matches_row {
    margin-top: 2rem;

    h4 {
        font-family: $heeboFont;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 160%;
        letter-spacing: initial;
        color: #F5F6FF;
        margin-bottom: 1.6rem;
    }

    .matches_box {
        background: #121212;
        border: 1px solid #262626;
        padding: 1.2rem 1.2rem 1.2rem 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: 0.2s all ease;

        .matches_details {
            max-width: 25.6rem;
            width: 100%;
            position: relative;

            &::before {
                content: "";
                width: 1px;
                height: 6rem;
                display: block;
                background: rgba(255, 255, 255, 0.2);
                position: absolute;
                left: 0rem;
                top: 50%;
                transform: translateY(-50%);
                transition: 0.2s all ease;
            }

            span {
                font-family: $heeboFont;
                font-size: 1.2rem;
                font-weight: 400;
                letter-spacing: initial;
                color: #E0CDCE;
                background: #A11B1B;
                display: inline-block;
                padding: 0.2rem 0.8rem;
            }

            .hold {
                color: #FFFFFF;
                background: #2FAA54;
            }

            .live {
                background: transparent;
                padding: 0;

                img {
                    width: 5.4rem;
                    height: 2.2rem;
                    object-fit: cover;
                }
            }

            h5 {
                font-family: $heeboFont;
                font-size: 1.4rem;
                font-weight: 500;
                letter-spacing: initial;
                line-height: 160%;
                color: rgba(255, 255, 255, 0.8);
                margin: 0.8rem 0rem 0.4rem;
            }

            p {
                font-family: $heeboFont;
                font-size: 1.4rem;
                font-weight: 400;
                letter-spacing: initial;
                line-height: 160%;
                color: rgba(255, 255, 255, 0.7);
                display: flex;
                align-items: center;

                span {
                    width: 0.4rem;
                    height: 0.4rem;
                    display: inline-block;
                    background: rgba(255, 255, 255, 0.7);
                    padding: 0;
                    border-radius: 50%;
                    margin: 0 1rem;
                }

                strong {
                    font-weight: 500;
                }
            }
        }

        .matches_item {
            width: 21.8rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: #0E0E0E;
            padding: 0.85rem 1rem;
            margin: 0.2rem 0rem;

            @media #{$md} {
                width: 19rem;
            }

            p {
                font-family: $heeboFont;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 160%;
                color: #E0CDCE;
                display: flex;
                align-items: center;
                gap: 0.6rem;

                img {
                    width: 2.2rem;
                }
            }
        }

        .matches_arrow {
            max-width: 28rem;
            width: 100%;
            position: relative;
            text-align: left;

            @media #{$md} {
                max-width: 13rem;
            }

            @media #{$sm} {
                max-width: 10rem;
            }

            @media #{$xs} {
                max-width: 8.6rem;
            }

            img {
                width: 2.4rem;
            }

            &::after {
                content: "";
                width: 1px;
                height: 6rem;
                display: block;
                background: rgba(255, 255, 255, 0.2);
                position: absolute;
                right: 0rem;
                top: 50%;
                transform: translateY(-50%);
                transition: 0.2s all ease;
            }
        }

        &:hover {
            background: #1E1212;
            border-color: #3B1315;

            .matches_item {
                background: #281415;
            }

            .matches_details {
                &::before {
                    background: #481618;
                }
            }

            .matches_arrow {
                &::after {
                    background: #481618;
                }
            }
        }

        @media #{$sm} {
            flex-wrap: wrap;
            gap: 2.5rem;
            padding: 1.4rem 1.4rem 1.4rem 1.8rem;

            .matches_details {
                max-width: 100%;

                &::before {
                    display: none;
                }
            }
        }
    }
}


// matchBlank_section ----------------

.matchBlank_section {
    padding: 10rem 0rem 20rem;
    text-align: center;

    @media #{$sm} {
        padding: 8rem 0rem 15rem;
    }

    img {
        width: 10rem;
    }

    h4 {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 130%;
        color: #FFF;
        margin: 2rem 0rem 0.8rem;
    }

    p {
        font-family: $heeboFont;
        font-size: 2rem;
        font-weight: 400;
        line-height: 150%;
        color: rgba(255, 255, 255, 0.7);

        @media #{$sm} {
            font-size: 1.8rem;
        }
    }
}


.lineup_timer {
    .line_textred {
        color: #F02731;
    }

    p {
        span {
            color: #37AE48;
        }
    }

    .how_playBtn {
        margin-top: 3.2rem;
    }
}

//  lineup_heading ---------
.lineup_heading {
    display: flex;
    align-items: center;
    gap: 1.6rem;

    img {
        width: 5.8rem;
        flex-shrink: 0;
    }

    .lineup_heading_text {
        p {
            font-size: 2rem;
            font-weight: 400;
            color: #37AE48;
            margin-bottom: 0.2rem;

            &.red {
                color: #F02731;
            }
        }

        h3 {
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 125%;
            color: #F5F5F5;
        }
    }
}


// lineup_gameBar ----------

.lineup_gameBar {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    padding-bottom: 10rem;

    @media #{$sm} {
        flex-wrap: wrap;
        gap: 2rem;
        padding-bottom: 6rem;
    }

    .lineup_gameItem {
        display: flex;
        align-items: center;
        gap: 1.2rem;
        padding-bottom: 1.6rem;

        &:first-child {
            background: linear-gradient(to bottom, rgba(240, 39, 49, 0) 0%, rgba(240, 39, 49, 0.30) 100%);
            border-bottom: 1px solid #C12028;
            padding: 0rem 1.6rem 1.6rem;
        }

        p {
            font-family: $heeboFont;
            font-size: 2rem;
            font-weight: 500;
            line-height: 150%;
            letter-spacing: initial;
            color: #FFFFFF;

            span {
                color: #37AE48;
            }

            @media #{$md} {
                font-size: 1.8rem;
            }
        }

        .abrasive {
            font-family: $heeboFont;
            font-size: 1.6rem;
            font-weight: 400;
            color: #FFFFFF;
            background: #37AE48;
            display: inline-block;
            padding: 0.4rem 1.2rem;

            @media #{$md} {
                font-size: 1.4rem;
            }
        }
    }
}

