// teams page start --------------------
.teamDetails_section {
    padding: 3.2rem 0rem 10rem;

    @media #{$md} {
        padding: 2.4rem 0rem 6rem;
    }

    .serachBar_wraper {
        width: 33rem;

        @media #{$md} {
            width: 28rem;
        }
    }
}


// team title ----------
.teamD_titles {
    margin-top: 3.2rem;

    .title_xl {
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 125%;
        color: #FFFFFF;
        padding-right: 2rem;

        ::after {
            height: 3rem;
        }
    }
}
