// my-tournaments page ------------

.subtabs_menu2 {
    .tab_links {

        ul {
            &::before {
                width: 79.6%;
                left: 50%;

                @media #{$xs} {
                    width: 80%;
                } 
            }

            li {
                &::before {
                    left: 52%;
                }

                &:first-child {
                    &::before {
                        left: 45%;

                        @media #{$sm} {
                            left: 48%;
                        }
                    }
                }

                &:last-child {
                    a {
                        padding-left: 2rem;
                        padding-right: 2rem;

                        @media #{$sm} {
                            padding-left: 0.8rem;
                            padding-right: 0.8rem;
                        }
                    }
                }

                a {
                    padding-left: 0.8rem;
                    padding-right: 0.8rem;
                    gap: 0.7rem;

                    .plus_circle {
                        width: 2.2rem;
                    }
                }
            }
        }
    }
}

.innerTab_links {
    padding: 5rem 0rem 5.2rem;
}

