// orders-and-requests page ------------

.orders_section {
    padding: 6rem 0rem 8rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.3rem;

    @media #{$md} {
        padding: 4.2rem 0rem 6rem;
        grid-template-columns: 1fr;
        gap: 2.4rem;
    }

    @media #{$sm} {
        padding: 4.2rem 0rem 6rem;
    }

    .orders_box {
        background: #080808;
        border: 1px solid #212121;
        padding: 2rem 2rem;
        position: relative;

        @media #{$sm} {
            padding: 2rem 1rem 1rem;
        }

        .border_tl {
			width: 2.2rem;
			height: 0.6rem;
			border-top: 1px solid #F2503D;
			border-left: 1px solid #F2503D;
			position: absolute;
			left: -0.1rem;
			top: -0.1rem;
			transition: 0.2s all ease;
		}

		.border_tr {
			width: 2.2rem;
			height: 0.6rem;
			border-top: 1px solid #F2503D;
			border-right: 1px solid #F2503D;
			position: absolute;
			right: -0.1rem;
			top: -0.1rem;
			transition: 0.2s all ease;
		}

		.border_bl {
			width: 2.2rem;
			height: 0.6rem;
			border-bottom: 1px solid #F2503D;
			border-left: 1px solid #F2503D;
			position: absolute;
			left: -0.1rem;
			bottom: -0.1rem;
			transition: 0.2s all ease;
		}

		.border_br {
			width: 2.2rem;
			height: 0.6rem;
			border-bottom: 1px solid #F2503D;
			border-right: 1px solid #F2503D;
			position: absolute;
			right: -0.1rem;
			bottom: -0.1rem;
			transition: 0.2s all ease;
		}

        .orders_title {
            padding-bottom: 1.6rem;

            h2 {
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 130%;
                color: #FFFFFF;

                @media #{$sm} {
                    font-size: 2.2rem;
                }
            }
        }

        .pending_item {
            min-height: 54rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            @media #{$sm} {
                min-height: 35rem;
            }

            img {
                width: 6rem;
            }

            h4 {
                font-size: 2.4rem;
                font-weight: 700;
                color: #F5F5F5;
                line-height: 130%;
                margin: 1.6rem 0rem 1.2rem;
            }

            p {
                font-family: $heeboFont;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 160%;
                color: #CECECE;
            }
        }

        .orders_item {
            height: 51rem;
            overflow: auto;
            scrollbar-width: thin;
            scrollbar-color: #F02731 #1D1D1D;

            &::-webkit-scrollbar {
                width: 0.8rem;
                border-radius: 2rem;
            }

            &::-webkit-scrollbar-track {
                background: #1D1D1D;
                border-radius: 2rem;
            }

            &::-webkit-scrollbar-thumb {
                background: #F02731;
                border-radius: 2rem;
            }

            .orders_gameBox {
                background: #121212;
                padding: 2rem 2rem;
                margin-bottom: 1.6rem;

                .orders_gameBox_content {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    position: relative;

                    @media #{$sm} {
                        flex-direction: column;
                        gap: 1.5rem;
                    }

                    .orders_gameBox_item {
                        display: flex;
                        align-items: center;
                        gap: 1.6rem;

                        @media #{$sm} {
                            gap: 1.2rem;
                        }

                        .orders_gameBox_img {
                            border: 1px solid #9B1A1B;
                            flex-shrink: 0;

                            img {
                                width: 9.2rem;

                                @media #{$sm} {
                                    width: 8rem;
                                }
                            }
                        }

                        .orders_gameBox_text {
                            h4 {
                                font-size: 2rem;
                                font-weight: 400;
                                line-height: 140%;
                                color: #D0D0D0;
                                margin-bottom: 0.6rem;

                                @media #{$sm} {
                                    font-size: 1.85rem;
                                    margin-bottom: 0.45rem;
                                }
                            }

                            p {
                                font-family: $heeboFont;
                                font-size: 1.4rem;
                                font-weight: 400;
                                line-height: 160%;
                                color: #B8B8B8;
                                margin-bottom: 0.4rem;

                                @media #{$sm} {
                                    margin-bottom: 0.25rem;
                                }

                                &:last-child {
                                    margin-bottom: 0rem;
                                }
                            }
                        }
                    }

                    .orders_gameBox_status {
                        @media #{$sm} {
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 9;
                        } 

                        span {
                            font-family: $heeboFont;
                            font-size: 1.2rem;
                            font-weight: 400;
                            color: #E0CDCE;
                            background: #231313;
                            border: 1px solid #A11B1B;
                            display: inline-block;
                            padding: 0.4rem 1.2rem;
                        }
                    }
                }

                .orders_button {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-top: 2.4rem;

                    a {
                        font-size: 1.6rem;
                        font-weight: 400;
                        line-height: 120%;
                        color: #FFFFFF;
                        background: #37AE48;
                        border: 1px solid #4BB65A;
                        width: 48.2%;
                        display: block;
                        text-align: center;
                        padding: 0.8rem 1.2rem;
                        position: relative;
                        transition: 0.2s all ease;

                        &:hover {
                            opacity: 0.85;
                        }

                        .border_tl {
                            width: 0.9rem;
                            height: 0.5rem;
                            border-top: 1px solid #FFFFFF;
                            border-left: 1px solid #FFFFFF;
                            position: absolute;
                            left: -0.1rem;
                            top: -0.1rem;
                            transition: 0.2s all ease;
                        }

                        .border_tr {
                            width: 0.9rem;
                            height: 0.5rem;
                            border-top: 1px solid #FFFFFF;
                            border-right: 1px solid #FFFFFF;
                            position: absolute;
                            right: -0.1rem;
                            top: -0.1rem;
                            transition: 0.2s all ease;
                        }

                        .border_bl {
                            width: 0.9rem;
                            height: 0.5rem;
                            border-bottom: 1px solid #FFFFFF;
                            border-left: 1px solid #FFFFFF;
                            position: absolute;
                            left: -0.1rem;
                            bottom: -0.1rem;
                            transition: 0.2s all ease;
                        }

                        .border_br {
                            width: 0.9rem;
                            height: 0.5rem;
                            border-bottom: 1px solid #FFFFFF;
                            border-right: 1px solid #FFFFFF;
                            position: absolute;
                            right: -0.1rem;
                            bottom: -0.1rem;
                            transition: 0.2s all ease;
                        }
                    }

                    .reject_btn {
                        background: #F02731;
                        border-color: #F23D46;
                    }
                }
            }

            .orders_player_box {
                background: #0F0F0F;
                border-bottom: 1px solid #260F0F;
                padding: 1.5rem 1.6rem;
                margin-bottom: 1.5rem;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .playes_item {
                    display: flex;
                    align-items: center;
                    gap: 1.2rem;

                    img {
                        width: 4rem;
                        height: 4rem;
                        object-fit: cover;
                        flex-shrink: 0;
                    }

                    h4 {
                        font-family: $heeboFont;
                        font-size: 2rem;
                        font-weight: 400;
                        color: #F9F9FF;
                    }
                }

                .cancel_btn {
                    a {
                        font-size: 1.6rem;
                        font-weight: 400;
                        line-height: 120%;
                        color: #F9F9FF;
                        background: #212121;
                        display: inline-block;
                        padding: 0.85rem 2rem;
                        position: relative;
                        transition: 0.2s all ease;

                        .border_tl {
                            width: 0.6rem;
                            height: 0.6rem;
                            border-top: 1px solid #FFFFFF;
                            border-left: 1px solid #FFFFFF;
                            position: absolute;
                            left: -0.05rem;
                            top: -0.05rem;
                            transition: 0.2s all ease;
                        }

                        .border_tr {
                            width: 0.6rem;
                            height: 0.6rem;
                            border-top: 1px solid #FFFFFF;
                            border-right: 1px solid #FFFFFF;
                            position: absolute;
                            right: -0.05rem;
                            top: -0.05rem;
                            transition: 0.2s all ease;
                        }

                        .border_bl {
                            width: 0.6rem;
                            height: 0.6rem;
                            border-bottom: 1px solid #FFFFFF;
                            border-left: 1px solid #FFFFFF;
                            position: absolute;
                            left: -0.05rem;
                            bottom: -0.05rem;
                            transition: 0.2s all ease;
                        }

                        .border_br {
                            width: 0.6rem;
                            height: 0.6rem;
                            border-bottom: 1px solid #FFFFFF;
                            border-right: 1px solid #FFFFFF;
                            position: absolute;
                            right: -0.05rem;
                            bottom: -0.05rem;
                            transition: 0.2s all ease;
                        }

                        &:hover {
                            span {
                                border-color: #F02731;
                            }
                        }
                    }
                }
            }
        }
    }
}
